[2019-01-17 18:48] necrogami opened #6 "os.exec"
I don't see any references in your code to os.exec can this execute any external commands?

[2019-01-17 23:22] d5 opened #7 "Type conversion builtin functions to take default values"
For example,

[code]

[2019-01-18 00:19] glycerine opened #8 "reflection / host communication"
First off, tengo looks really great. Thanks for making it!

For using tengo as a scripting language, is it possible to have the host program inject variables or functions into the script namespace for the script to use?

Along these lines, Alan Donovan on the Go team has done some nice reflection work for starlark-go on the wip-stargo branch. Any Go library can be called from script in this manner

[2019-01-18 00:34] d5 commented on #8
Thanks for the compliment and reflection link. I will definitely take a look.

To answer your question. You can definitely inject objects/functions. There are multiple ways to do this, but, probably the easiest is to use `script.Variable`.

[code]

This example (from README) shows you how to make your own data type by implementing `objects.Object` interface. `Counter` struct also implements `objec

[2019-01-18 02:12] d5 opened #10 "Add Time type and 'time' module"

[2019-01-18 03:01] d5 opened #11 "Start versioning"

[2019-01-18 03:48] chenqinghe opened #12 "what the relationship between tengo and qlang?"
there is an another script language named [qlang](https://github.com/qiniu/qlang) developed by qiniu. And both the syntax and implementations are similer, so my question is, what is the difference between these two language?

[2019-01-18 04:33] d5 commented on #12
Haven't seen it before, but, I will check it out. If qlang is also bytecode compiled stack-based VM, the design should be similar? I mean not just these two, but, I'm sure there are other VM implementations out there that have similar design written in many different languages. Btw, I cannot read Chinese, it looks they have implemented a lot of things in it already over 3+ years. Tengo started lik

[2019-01-18 07:25] windzhu0514 opened #13 "how to export go package for tengo"
how to use go package in tengo

[2019-01-18 11:51] mdbazuin commented on #7
I've been messing around a bit trying to understand the code, so i tried messing around with the type conversion default.

This is basically a proof of concept, would something like this work for you? if so i'll make a pr for all built in conversion types including tests.

If needed i can also add an error type ErrWrongObjectType or something like that when the default isn't an Int (for this speci

[2019-01-18 18:56] #6 closed

[2019-01-18 19:00] d5 commented on #7
Yeah, I'd appreciate if you could create a PR for this! 😄 Btw, I just merged a big PR that has some code changes around these type conversions. But it shouldn't be too different.

[2019-01-18 19:01] d5 commented on #7
I also added a documentation on types: https://github.com/d5/tengo/wiki/Variable-Types. Just FYI.

[2019-01-18 19:12] #10 closed

[2019-01-18 19:13] mdbazuin commented on #7
I will create a PR shortly, should be able to adjust it to the changes you made in the latest PR in like an an hour or so

[2019-01-18 21:42] stefanos82 commented on #12
Wait...what?! In such a short period of time you created this beauty? Mad respect to you @d5 :100:

[2019-01-18 22:11] d5 opened #15 "Time module"
We can add `time` module in a similar way as `os` module: `Time` as an immutable map object with some method _-like_ functions.

[2019-01-18 22:15] stefanos82 opened #16 "A couple of questions if I may..."
First of all, congrats for this amazing project. Well done @d5.

I hope my [HN post](https://news.ycombinator.com/item?id=18943482) to bring more people in because this project looks promising.

I have a couple of questions:

- What about concurrency?
- More examples around standalone language please? I have tried to use a simple `print('hello world')` and couldn't make it work.
- Is each file con

[2019-01-18 22:17] d5 commented on #13
Hi. I'm still figuring out the best way to expose Go stdlibs to Tengo in a repeatable fashion (but without losing any performance), but, this is what I did for `os` module: https://github.com/d5/tengo/blob/master/compiler/stdlib/os.go

If you simply want to embed Go variables or functions, you can always create your own `struct` that implements `objects.Object` interface (and `objects.Callable` in

[2019-01-18 22:40] mdbazuin commented on #16
As for the standard libraries part: [Standard-Libraries](https://github.com/d5/tengo/wiki/Standard-Libraries)

[2019-01-18 22:41] d5 commented on #16
Thanks for the kind words and the HackerNews share. _But I'm not sure if Tengo's ready for HN 😄_

Let me try to answer your questions, but, please know that Tengo is fairly new and there are tons of things to add going forward.

* Language-level support for concurrency is something I need to think about. Tengo was not to replace something entirely. _(Maybe in the far future..?)_ So, honestly, I do

[2019-01-18 23:37] #7 closed

[2019-01-19 08:37] #15 closed

[2019-01-19 09:21] ripienaar opened #17 "allow execution to be interrupted"
This looks great, been looking for something to do some embedded scripting with and this appears to be the best so far - outside of the lua's which i am not a fan of - well done, cannot believe this is a few weeks of work!

When running embedded scripts there's a real risk that they would get stuck forever - maybe someone exec's something that is blocking.

So would be great if there was a `Run()`

[2019-01-19 09:41] d5 commented on #17
Although `Script` does not directly support it, the runtime has `VM.Abort()` function already. (And that's what I use in the [Playground](https://tengolang.com).)

If we add something like `script.Compiled.Abort()` _(which should be fairly easy)_, then you should be able to interrupt the execution (likely from another goroutine).

[2019-01-19 10:12] #11 closed

[2019-01-19 10:26] d5 opened #19 "Add Starlark to benchmark"

[2019-01-19 10:44] #19 closed

[2019-01-19 11:31] stefanos82 commented on #16
Thank you @mdbazuin, that's good to know :smiley:

[2019-01-19 11:44] ripienaar commented on #17
@d5 nice, yeah then making `ScriptContext` or `RunContext` should be easy enough (same way as exec.CommandContext is used)

[2019-01-19 11:51] stefanos82 commented on #16
I'm sure it does. One person that commented on it and said "I do like this idea though and think I have an application for it", so there you have it.

By concurrency I mean using all the CPU cores,

No need to replace anything, more and more languages pop up like mushrooms, but none of them performs as fast as Tengo. People love speed and readability.

So, since Tengo has both, why not use it as a

[2019-01-19 14:14] ripienaar commented on #17
A quick way to implement this:

[code]

Also I note since you generated the `os` extension from the very latest go - and that added some additional code - tengu basically only supports the latest go.  Might be worth a think.

[2019-01-19 16:06] gocs opened #22 "Is the language truthy?"
Are datas can be used for conditions?

i.e.

[code]

[2019-01-20 03:56] #22 closed

[2019-01-20 04:05] gocs commented on #22
thanks

[2019-01-20 13:30] glycerine opened #24 "ponies: performance, portability, and security"
Just a thought on architecting for speed, portability, security:

Given that Google has put hundreds of engineer-years into optimizing the v8 Just-in-time compiler, it is not surprising that it can run the recursive fib(35) in about 2x that of Go.
[code]
So for crazy good performance, it would be great to target wasm bytecode and let v8 run it.

The other nice aspect of targeting wasm would be tha

[2019-01-20 13:42] d5 commented on #24
Maybe I will need another holiday break for such experiments, but, I actually think that might be really an interesting thing to try. Thanks for the idea, and, I will keep thinking about this.

[2019-01-20 13:58] d5 commented on #17
Regarding the cancellable/timeout context, adding it to the current implementation is not a big deal, but, the only problem is that the current VM implementation has basically a data race on `VM.aborting` member as 2 goroutines will be reading and writing. I tried couple different things (e.g. `select` inside the VM's main for loop, putting time deadline and checking it) to make it cleaner, but, t

[2019-01-20 16:48] #17 closed

[2019-01-20 17:54] mdbazuin opened #26 "Proposal to Add Value() to objects.Object"
I was looking into how easy it would be to add an `encoding/json` module.
However when i put a tengo map, like:
```testMap := {foo: "bar"}```
the output result will be:
[code]
Since the Tengo string object contains the Value field, the result would be like the above.

The proposal would be to add another method signature to the objects.Object interface:
[code]
which would in the case of the Tengo

[2019-01-20 18:54] mdbazuin commented on #26
This is what i came up with so far. I can add this to the
I can also convert this into two functions in `objects.conversion.go` called `ToMap` and `ToArray`
[code]

[2019-01-20 19:32] d5 commented on #16
@stefanos82 I'm curious to know what you think of [roadmap](https://github.com/d5/tengo#roadmap) that I had updated recently. Any feedback/thoughts would be appreciated.

[2019-01-20 19:32] mdbazuin commented on #26
Oh i completely missed those functions haha.

I did read that you want to focus on the other things before a stdlib.

It also makes sense that you only want to include methods that are used by the VM to the object interface

Thanks for the quick response!

[2019-01-20 19:39] stefanos82 commented on #16
A dream coming true! Go for it :+1:

[2019-01-20 19:41] d5 commented on #16
Great. I will close this issue then. Thanks for the help!

[2019-01-20 19:41] #16 closed

[2019-01-20 23:43] d5 commented on #26
This is great! Can you create a PR here? Btw, I think they should be builtin functions (instead of a module). Something like `to_json` and `from_json`.

[2019-01-20 23:50] mdbazuin commented on #26
Awesome! Could you create a new issue for the json stuff and assign it to me? As  the topic of this issue isn't that relevant to the json part haha. I'll work on it tomorrow as i was just about to head to bed.

I'll rewrite it to the `to_json` and `from_json` builtin functions

[2019-01-21 12:07] mdbazuin commented on #26
#29
Created a PR for `to_json` and `from_json`

Also fixes a bug in `scripts/conversion.go`

[2019-01-21 21:42] stefanos82 commented on #24
Since Golang [supports wasm](https://github.com/golang/go/wiki/WebAssembly) since the release of 1.11, I guess Golang itself would do the dirty work for you, thanks to interoperability between the languages.

What do you think @d5 ?

[2019-01-23 00:03] d5 opened #31 "Language level support for immutable values"
Everyone knows that immutability can be useful in many ways.

A couple of questions to answer:
1. How to implement? Could be builtin function(s). Could be `Immutable` object that wraps another object.
2. What to do if immutable value is mutated? Should that cause runtime error? (Definitely compile-time error is not trivial unfortunately) Or should it be simply ignored? OR.... can it even be copy-o

[2019-01-23 17:30] d5 commented on #26
Merged your PR. Thanks for the help @mdbazuin !!

[2019-01-23 17:30] #26 closed

[2019-01-23 18:01] d5 opened #33 "add 'printf' and 'sprintf' builtin function"

[2019-01-23 20:51] d5 opened #34 "add ternary conditional expression"
`condition ? true_expr : false_expr`

[2019-01-24 01:26] d5 opened #37 "sandbox environment support"
- Custom user module loader
- Whitelist/blacklist standard library modules
- Whitelist/blacklist builtin functions

[2019-01-24 04:21] d5 opened #38 "Script.AddModule() to add user module to script"

[2019-01-24 20:19] pjebs opened #39 "Benchmarks"
How does it compare to https://github.com/dop251/goja?

Authors approach: https://www.reddit.com/r/golang/comments/5c3vb6/almost_fully_compliant_ecmascript_51/d9uih8q/

[2019-01-24 20:48] d5 commented on #39
Thanks for letting me know.

https://github.com/d5/tengo/pull/40

Yeah, it's definitely faster than other JS interpreters.

[2019-01-24 20:50] #39 closed

[2019-01-24 21:32] pjebs opened #42 "Benchmarks"
MonkeyLang:

https://interpreterbook.com/

https://github.com/prologic/monkey-lang

BASIC:

https://github.com/udhos/basgo

[2019-01-24 21:34] prologic commented on #42
😙

On Fri, 25 Jan 2019 at 07:32, pj <notifications@github.com> wrote:

--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2019-01-24 22:00] #37 closed

[2019-01-24 22:02] #38 closed

[2019-01-25 01:57] #33 closed

[2019-01-25 02:54] d5 opened #44 "Regular expression module"

[2019-01-25 02:55] d5 opened #45 "Time module"

[2019-01-25 02:57] d5 opened #46 "Strings module"

[2019-01-25 23:41] prologic opened #49 "FFI?"
Been observing new issues like #44 #45 and #46

Instead of duplicating the Go standard library in Tengo; Why not crate an [FFI](https://en.wikipedia.org/wiki/Foreign_function_interface)? This has the added advantage of allowing users to build new modules of anything they need that isn't already part of the Tengo standard library (_exposing Go standard library modules/functions_).

[2019-01-26 00:12] d5 commented on #49
Totally. I love to have something like that. It's not worth the efforts duplicating all Go stdlib for very obvious reasons. I'm still trying to figure out the best way of doing it _(and am always open to any suggestions)_, but, at the moment, I decided to focus (prioritize) more on extensibility/interoperability (e.g. operator overloading, callable objects, indexable objects) so it can be more eas

[2019-01-26 00:19] d5 commented on #42
Thanks for the suggestion. I realized I won't be able to benchmark all the Go script languages in the world. 😄  Not that I have some clear criteria on what to add or what not, but, I'm going to add new one only when they have something significant enough to compare against Tengo. Hope that helps :)

[2019-01-26 00:19] #42 closed

[2019-01-26 00:19] #8 closed

[2019-01-26 00:20] #12 closed

[2019-01-26 00:20] #13 closed

[2019-01-26 00:20] #24 closed

[2019-01-26 00:44] Chyroc opened #50 "use strings.Builder to speed up string join"
I notice that，some code use `fmt.Sprintf("[%s]", strings.join(",", some array))` to join string

For example ，in some Object String

May be，we can use strings.Builder（go1.10） to speed up it

If you think so，i well push some merge request(1 for use go 1.10,  2 for refactor to use strings.Builder)

Thank you

[2019-01-26 06:50] lwyj123 opened #51 "[Docs] `to_json` should be added into docs"
I think to_json should be added into docs or example

[2019-01-26 14:14] d5 commented on #50
Thanks for the suggestion. A couple of things that I want to bring up. 1. Currently the target Go version is [1.9+](https://github.com/d5/tengo/blob/master/.travis.yml#L4). 2. That being said, increasing performance of `String()` function is really important because it might be one of the most frequently called functions (because of type coercion). I'm even willing to hard-code some common cases i

[2019-01-26 14:43] #51 closed

[2019-01-28 01:40] #49 closed

[2019-01-28 02:17] #34 closed

[2019-01-28 17:30] d5 opened #56 "Fix local function recursion issue"
[code]

[Playground](https://tengolang.com/?s=7a322ffcfdfc898a41cdd7c750aa0aa2695345cc)

[code]

[2019-01-28 17:31] d5 opened #57 "implement switch-case statement"

[2019-01-30 01:43] d5 opened #59 "v1 release review"
- [ ] review and finalize documentation for v1.0 release
- [ ] setup CI for versioned release process

[2019-01-30 03:14] d5 opened #60 "variadic function arguments"
[code]

[2019-01-30 07:50] #44 closed

[2019-01-30 07:59] #46 closed

[2019-01-30 07:59] #45 closed

[2019-01-30 10:05] #59 closed

[2019-01-30 23:31] d5 opened #63 "Update Objects documentation"
https://github.com/d5/tengo/blob/master/docs/objects.md

Update with new types and add different custom types (now that Time is one of runtime types).

[2019-01-31 08:31] tisba opened #66 "Question: Hide helpers in modules?"
I found the module documentation in https://github.com/d5/tengo/blob/master/docs/tutorial.md (not sure if there is another document). I was wondering, if and how I can "hide" module-internal stuff, like helper functions etc.

If all "global defined" variables in a module are exported, there is currently no way to hide module internals, correct?

I was also wondering, what your thought process was

[2019-01-31 09:07] d5 commented on #66
You're correct. Currently there's no way to hide values _(or selectively choose values to export)_ when exporting the code as a module. It is mostly because I wanted to keep things simple as much as possible _(at least for now)_, but, at the same time, I also wanted to make scripts import-able to other scripts with no _(or little)_ changes. For example, let's say I have a script `script1` that I u

[2019-01-31 09:13] tisba commented on #66
IMO having a clear and explicit API to helps a lot in order to prevent clutter. But I do fully understand your point about keeping it as simple as possible!

[2019-01-31 09:13] #66 closed

[2019-01-31 14:08] matwachich opened #67 "Make map iterating predictable (either ordered or as inserted)"

[2019-01-31 14:08] matwachich opened #68 "Make all stdlib optional (in a separate golang package) to keep the VM minimal"

[2019-01-31 16:59] #63 closed

[2019-01-31 17:02] d5 commented on #67
Can you tell me more about your use cases? Basically Map iterator does not guarantee any ordering just like most other programming languages.

[2019-01-31 18:36] d5 commented on #67
Definitely possible but as you can see that pre-sorting is an extra overhead. So I’d rather let user to sort the keys and iterate on sorted keys manually if that’s needed, and, keep the current map iterator not sorted. Remember the iteratir (which is implemented using Go map iterator) is not predictable but is consistent.

[2019-01-31 20:38] d5 opened #69 "Remove unused tokens"

[2019-01-31 20:43] #69 closed

[2019-02-01 03:56] conilas opened #71 "more docs"
hey!

i liked the idea of being able to easily use closures in a close-to-go syntax with dynamic checks

however, I cant seem to find some docs about the lang implementation/definition.

Maybe something about the vm: does it do JIT compilation? Can it?

Idk i'd to read some material about the lang itself

[2019-02-01 05:15] #67 closed

[2019-02-01 17:51] d5 commented on #71
Hi. Yes, I plan to add more documents. It's in my backlog. In the mean time, if you have questions on some specifics, I'm more than happy to answer here!

[2019-02-02 02:00] d5 opened #75 "Disabled builtin functions and std-modules for importing scripts"
When compiling imported scripts (added via `Script.AddModule`), we need to disable all builtins and std-modules that are disabled in the main script. (Imported script inherits the same security rules.)

[2019-02-02 02:05] #75 closed

[2019-02-03 07:32] d5 commented on #66
@tisba: I was trying to fix some module-related issues, and, I decided to make 'export' more explicit. As of [v1.3.0](https://github.com/d5/tengo/releases/tag/v1.3.0), one needs to use `export` statement to export a value. Just FYI.

[2019-02-04 12:58] matwachich opened #77 "script.Add should accept a CallableFunc value"
To be able to directly define a user function
`s.Add("myFunc", myFunc)`

Now, you need to do
`s.Add("myFunc", &objects.UserFunction{Value: myFunc})`

[2019-02-05 11:44] d5 opened #78 "builtin function: 'freeze'"
`freeze` to transform the value immutable recursively (deep immutability)

[2019-02-05 17:37] ripienaar opened #80 "support os.Stat()"

[2019-02-05 17:44] d5 commented on #80
Agreed.

I'd also like to add something like
- `os.read_file`: equivalent of Go's `ioutil.ReadFile`
- `os.write_file`: equivalent of Go's `iotuil.WriteFile`

[2019-02-05 17:46] cork opened #82 "Call a CompiledFunction from host"
I'm trying to call a function defined inside the script from the embedning host. Is this possible? I can't seam to find any type of run or call like feature on them.

[code]

[2019-02-05 17:53] ripienaar commented on #80
yeah those two would be useful too, it seems a bit weird that some of these are insstances of file though like chdir and chown, like, how do you get a file instance without open? and there's no need to open them.  it's almost like we need a file module.

[code]

this feels more natural than the current api to me

[2019-02-05 18:02] d5 commented on #80
I left a comment on your PR, but, I believe we can add `os.stat()` to match Go's [os.Stat](https://golang.org/pkg/os/#Stat) function.

[2019-02-06 06:21] cork commented on #82
Ah now i finally understand how fn works in your go-fsm.

As for the usecase this is more of a performance check. I'm writing a go version of a logitech g13 trigger server[1]. But i would like to provide a way to define what would happen when the keys are triggered, but as it is for gaming input performance is important so i'm checking if i can get the script time down to an acceptable level.

A g

[2019-02-06 10:14] d5 opened #83 "IndexGet() of Array/ImmutableArray/Undefined types"
Currently index-get behavior of array is to raise a run-time error. Maybe it can simplify things if array returns `undefined` instead.

Also, if this array retuning `undefined` makes sense, we may also want to implement IndexGet of Undefined type to return `undefined`: `undefined[index] => undefined`

[code]

Other things to think about (for consistency):
- IndexSet behavior of array: likely we'd

[2019-02-06 11:15] earncef commented on #83
I think IndexSet would have to retain the current behavior of runtime error as it makes no sense to set an item at an invalid index. Perhaps we can allow empty index to append to the array, but that is a different conversation altogether.

I can think of three ways of handling the Slicing operator:
* out-of-bounds error
* Return only values within the valid range. For instance if low > max returns

[2019-02-06 20:40] d5 commented on #83
I'll experiment with array-returning-undefined scenario, just to make sure it doesn't have any other side effects, and, it works well with other language constructs. A couple other things I want to test with:
- String.IndexGet
- Array.IndexSet and String.IndexSet
- Slicing on Array and String

[2019-02-06 21:41] ripienaar opened #84 "add os.readfile() => array(byte)"

[2019-02-07 09:11] earncef commented on #83
I've been testing this myself and returning undefined on slicing on array/string requires concatenation for strings and bytes and the builtin functions len() and append() are changed to work with undefined.

It's not very intuitive to check whether the resulting slice is undefined before performing these actions.

Also:
[code]

If the goal is to avoid runtime errors on slicing, then the more intui

[2019-02-07 13:52] #82 closed

[2019-02-07 17:02] d5 commented on #83
Ok. I think we can try this:
- Sequence types: Array, ImmutableArray, String, Bytes
- IndexGet on sequence types: returns `undefined` if index is out of bounds
- IndexSet on Array type _(other sequence types are immutable)_: raises a run-time error if index is out of bounds
- Slicing on sequence types: returns a new sequence of same type (except for ImmutableArray which returns Array) with the ele

[2019-02-07 23:20] #84 closed

[2019-02-08 07:23] earncef commented on #83
Looks good but I'll run some tests and get back to you.

[2019-02-08 07:55] d5 opened #87 "Module 'rand'"

[2019-02-08 11:08] earncef commented on #83
Ok, I found this while I was testing. In vm.go:650:

[code]

Either the else if makes no sense or the if doesn't. Not sure what the expected behavior is. Should the highIdx be 0 or numElements in the changes we discussed? I'd assume it should be 0, but it's being set to numElements right now so I'm a bit confused. There are no tests checking this that I could find.

So:
[code]

[2019-02-08 11:39] earncef commented on #83
Ah, I see what the code is doing. It's designed to handle the likes of
[code]

I think it might be better to rewrite that part without using highIdx as -1

[2019-02-08 16:57] earncef opened #89 "Add runtime exception handling"

[2019-02-09 20:33] #87 closed

[2019-02-10 00:47] #83 closed

[2019-02-10 07:39] prologic commented on #56
This has not been fixed by the mentioned commits:

[code]

This is on the latest master after a `git pull` and `go install ./...`

[2019-02-10 07:59] d5 commented on #56
It's probably an issue with REPL code. Same code works fine in playground (https://tengolang.com/?s=e1bf7d1e99b81c312d9b02bdc6735a11daf1d93a). I will take a look. Thanks for reporting!!

[2019-02-10 08:28] d5 opened #91 "REPL constants not transferred between commands"
REPL shares the symbol table and the globals between each line of commands so it keeps the global variables between the lines. It also needs to keep the constants because some values (e.g. closures) and references to those constants need to be shared too.

[2019-02-10 08:28] prologic commented on #56
Ahh I did not test with a full program; only on the REPL. No worries :)

[2019-02-10 08:29] d5 commented on #56
Found the cause, and, opened #91.

[2019-02-10 08:29] #56 closed

[2019-02-10 08:32] #91 closed

[2019-02-10 14:28] kcsampson opened #93 "Line Number Info when compiled.Run() has error"
Would be nice if the error returned by c.Run() would at least give the line number of the script where the error occurred.  A stack-trace would even be nicer in case there was some recursion, or user defined function call.

[code]

[2019-02-10 16:12] kcsampson opened #94 "Ability to call CompiledFunction from Callable"
I want to supply a Callable to my script via Indexable.  But I want the arg to my Callable to be  a func() declared in the script.  The func() comes to the script as "*CompiledFunction".  But I have no way to call the compiled function.  My use case is to implement things like map/reduce, where the script is declaring lambda's.

`

`

[2019-02-11 00:22] d5 commented on #94
This is one of the things that I wanted to implement earlier, but, invoking compiled functions from native Go code is a bit challenging. Maybe not in the near term, but, I will definitely revisit this feature in the future version. I know that's not what you wanted, but, you can always write map/reduce functions in Tengo and use them via modules, if that works.

[2019-02-11 06:14] d5 opened #96 "reuse constants"
`Compiler.addConstant` should re-use constant if the same value already exists.

[2019-02-11 06:36] d5 opened #97 "remove objects.CompiledModule"
deprecated and not used anymore

[2019-02-11 10:51] earncef commented on #89
@d5

I've been working on adding exception catching feature. What do you think of something like this:

[code]

[2019-02-11 18:42] kcsampson commented on #94
Thanks, I'll give it a try.  Perhaps I'll fork it and give it a go.  I'll need to do that since "machine" is private to a Compiled.
Can I create a second machine, and run the function on that?  how would I copy symbol table?

[2019-02-11 19:45] d5 commented on #89
Thanks for the proposal!

I admit Tengo's error handling is weak. I've been thinking about this too, but, I couldn't find a cleaner way to do this mostly because of the performance concerns. I'm not saying that error handling is less important than the running performance, but, I just want a balanced approach. We also need to think about adding more info on the reported error objects (like line nu

[2019-02-11 19:51] d5 commented on #94
I'd say writing map/reduce functions in a module is better, but, if you want to experiment with running compiler/VM directly, my recommendation is to look at `script.Script` and `script.Compiled` code to see how they manage symbol table and global variables. More specifically [this](https://github.com/d5/tengo/blob/master/script/script.go#L138) and [this](https://github.com/d5/tengo/blob/master/sc

[2019-02-11 19:57] d5 opened #98 "Import module and block scoping issue"
`main.tengo` script:
[code]

`mod1.tengo` script:
[code]

Running the main script causes a run-time error:
[code]

Need more investigation on this, but, it seems that the block scoping (`foo()` function call in `if` statement) is not resolving the symbols (indexes) correctly within the module context.

[2019-02-12 01:34] #98 closed

[2019-02-12 01:34] #97 closed

[2019-02-12 08:31] earncef commented on #89
I understand your consideration with block statements.

I did try the full `try-catch` and it performs slower in the benchmarks vs a try{} block that evaluates to an error. Also, I'm not entirely sure catching an exception even makes much sense without differentiating between exception types and (possibly) changing the Error object's equality check.

The `panic-recover` approach would indeed be si

[2019-02-14 08:40] earncef commented on #89
Now that I'm working on implementing `defer` I've come across a bigger problem that might not solve the issue of panic-recover at all.

Tengo doesn't have named return values. This makes adding a defer to recover from a panic effectively of very little use as an error can't be passed along with the function's returning values.

Tengo also doesn't support multiple return values, so the go philosoph

[2019-02-14 17:50] d5 commented on #89
True. I've been working on some use cases _([FSM](https://github.com/d5/go-fsm) and couple other undisclosed projects)_, and, that way I'm learning a lot about the language/script needs, including this exception handling. Tengo definitely needs more work on error/exception handling/support, I agree. But it involves lots of bigger changes in the compiler/VM and also the language spec. _For that rea

[2019-02-14 17:56] d5 opened #101 "Max # of instructions on VM"
Optional limit on the maximum number of executing instructions on the VM

[2019-02-15 11:17] d5 commented on #89
@earncef: [some initial thoughts](https://github.com/d5/tengo/wiki/Error-Handling-V2) if you're interested. It's not finalized and there are lots of things missing there.

[2019-02-16 10:34] earncef commented on #89
Some comments on the draft:

- Will the handles be called LIFO or FIFO?
- It's not very clear from your draft but I assume any handles declared after the statement that causes the error aren't executed?
- Handling some of the common runtime errors in a dynamically typed language like tengo would be tedious and clunky, which wouldn't be the case in Go as they'd end up as compile time errors. Consid

[2019-02-16 20:28] progrium opened #102 "reflection wrappers"
Using Tengo as an expression/REPl language, great work! I noticed you avoid reflection in the objects package, which limits the types you can interop with. I'm hoping to interop with any Go value, so I'm using reflection to wrap structs and their methods. I figure you might not want to have this builtin for performance reasons, but what would be the best way to share this kind of functionality?

[2019-02-16 21:04] d5 commented on #102
Yup. I personally love using reflection. I've tried a lot of different approaches in other projects (like ORM stuffs), but, I avoided it in Tengo for two reasons: performance concerns (which is obvious) and handling/documenting too many edge cases. In my experience, automatic conversion typically involves opinionated (conventions) or guided (e.g. field tag such as `json:""`) approaches. I'm not sa

[2019-02-19 22:40] d5 opened #104 "'go generate' to replace some function typedefs"
Not sure if it's possible, but, worth trying

[2019-02-20 09:12] d5 commented on #93
This will be fixed with #103. /cc @kcsampson (no stack trace yet)

[2019-02-20 09:15] d5 commented on #89
Not directly related to this issue, but, this PR #103 adds more info (filename, line, column) to the runtime errors with little performance overhead. /cc @earncef

[2019-02-20 17:23] earncef opened #106 "Redundant OpExport?"
There's an OpExport defined in compiler/opcodes.go. Is this redundant?

[2019-02-20 17:25] d5 commented on #106
Haha yup. That's from before I refactor module import.

[2019-02-21 00:26] #93 closed

[2019-02-21 05:07] d5 opened #107 "HTTP module"

[2019-02-21 17:55] #106 closed

[2019-02-21 20:51] d5 opened #109 "Error message trace format"
[code]

[2019-02-22 21:39] #109 closed

[2019-02-25 09:01] d5 opened #112 "limiting max memory usage"
The runtime should be able to limit the maximum memory usage. I'm trying to figure out a way to do this without hurting the performance too much.

[2019-02-25 15:02] earncef opened #114 "String keys not allowed in map definition"
The following format is not allowed:
[code]

This is not consistent with Go and can also cause unnecessary clutter in the code when the key is not alphanumeric. For instance:
[code]

[2019-02-25 16:46] earncef commented on #114
I'll have a PR for this soon.

[2019-02-25 18:24] d5 opened #115 "remove 'parser.ParseFile`"
After fixing #113, [parser.ParseFile](https://github.com/d5/tengo/blob/master/compiler/parser/parse_file.go#L11) is no longer needed. Let's remove it.

[2019-02-25 18:32] d5 opened #116 "enhancement on immutable array and immutable map types"
For immutable array/map types to be more useful, they need more supports:
- more language syntax and/or builtin function to interact with immutable values: adding/replacing/removing/appending/prepending elements, etc.
- better internal structure to make them more efficient: something similar to [this](https://hypirion.com/musings/understanding-persistent-vector-pt-1) and [this](hashicorp immutable

[2019-02-26 06:58] #114 closed

[2019-02-26 09:05] earncef opened #119 "Actively enable std modules and/or builtin functions"
What do you think of allowing active enabling of std modules and builtin functions instead of disabling them one by one. That is, in addition to `DisableBuiltinFunction` and `DisableStdModule` also include `EnableBuiltinFunction`, `EnableStdModule`, `DisableAllBuiltins` and `DisableAllStdModules`.

This leaves current usage as is, but also allows disabling all builtins and std modules so that they

[2019-02-26 21:37] d5 commented on #119
What about adding `SetBuiltinFunctions(map[string]*objects.BuiltinFunction)` and `SetStdModules(map[string]*objects.ImmutableMap)` that replaces all builtins and modules? If we do that, another change we will need is to have VM to take the built functions as a parameter like [builtinModules](https://github.com/d5/tengo/blob/master/runtime/vm.go#L50). Btw, I was using stdmodules and builtin modules

[2019-02-27 06:49] earncef commented on #119
`SetBuiltinFunctions` and `SetStdModules` works. It's also consistent with `SetUserModuleLoader`.

I'm partial towards builtin over std as well and making them consistent is a good idea.

[2019-02-28 08:18] #115 closed

[2019-02-28 17:27] #119 closed

[2019-02-28 23:55] d5 opened #123 "memory safe implementations for print, printf, sprintf"
I'd like to add memory-safe implementation of builtin functions `print`, `printf`, and `sprintf`, and, let the user choose between regular (unchecked) version and memory-safe (checked but slower) version based on their requirements.

[2019-03-01 17:28] #77 closed

[2019-03-02 19:26] d5 opened #127 "limit the max elements of array and maps"
We'd like to limit the maximum number of elements (and their sub-elements) of an array, immutable array, map, or immutable map.

[2019-03-04 18:16] d5 opened #130 "Compiler and VM options"
We're adding more and more options to NewCompiler and NewVM functions. Probably better if we just create a Compiler and VM options struct.

[code]

[2019-03-07 01:20] #96 closed

[2019-03-07 01:21] #127 closed

[2019-03-07 01:21] #112 closed

[2019-03-07 17:06] aantono opened #133 "Is it possible to reuse the pre-compiled VM in concurrent environment"
My use-case is to have an external script define the execution logic (data mutation/enhancements) which can happen on concurrent requests... (think about an HTTP server with Middleware mutating request headers, where the logic for mutation is defined by a custom external script).  The server supports multiple requests coming in at once, and for performance reasons I would like to avoid having to i

[2019-03-07 18:35] d5 commented on #133
Hey, thanks for sharing your use case.

I was actually working on a similar HTTP-request handling use case where the code is pre-compiled once and re-used multiple times. The only difference I can think of is that it's distributed so the compiled bytecode (binary data) is stored in the databases (e.g. Redis), and, the handler processes always reconstruct the VM from the compiled bytecode. It works

[2019-03-07 21:11] d5 commented on #133
https://github.com/d5/tengo/pull/134

[2019-03-08 09:10] #133 closed

[2019-03-08 09:37] d5 opened #135 "encryption/hashing module"

[2019-03-08 09:39] #68 closed

[2019-03-09 19:10] d5 opened #136 "native implementation for increment/decrement statement"
currently it's compiled as compound assignment, but, it can be more efficiently implemented in VM

[2019-03-12 08:59] topxeq opened #137 "Run another piece of code after one."
Can I run the code line by line or block by block, and keep the variables and other environments?

[2019-03-12 11:00] topxeq commented on #137
Thanks for your reply. For example,

[code]
Is it possible? If yes, I will be able to write something like a interactive shell.

I like this repository. I am going to introduce it in my new book. So I am trying to know more about it...,  and expect more.

[2019-03-12 15:56] d5 commented on #137
I see. I think you should try Tengo [REPL](https://github.com/d5/tengo/blob/master/docs/tengo-cli.md#tengo-repl) first if you want some interactive shell. And, if so, [this](https://github.com/d5/tengo/blob/master/cmd/tengo/main.go#L188) is where you can start. It uses Parser, Compiler, VM directly instead of using Script. Please let me know.

[2019-03-12 17:42] tmclane commented on #101
How would this be utilized?
Is this to stop a script prematurely if it is an infinite loop?
Or is the idea that you could step out of the VM and then continue execution at the previous location?

[2019-03-12 18:25] d5 commented on #101
Intention was to prevent it from running too long. But suspending/resuming might be interesting too. Do you have particular use cases in mind?

[2019-03-12 20:25] tmclane commented on #101
The use case I was thinking of was providing the ability to pause / resume running of a script.
Or to execute it single-stepping like a debugger or run to a specific line and stop/pause.

Perhaps there is already a way to do this?

My actual use-case was to run the script in a goroutine and have it interact with the main program through predefined functions exposed to the scripting environment.  I

[2019-03-12 22:47] d5 commented on #101
Without knowing the full details, my recommendation would be to expose a function (more specifically an object that implements `objects.Object` and `objects.Callable` interfaces so you can use it like a function from the script; [an example](https://github.com/d5/tengo/blob/master/docs/objects.md#user-object-types)), then have it block or do some async stuffs within the function to coordinate with

[2019-03-12 22:51] tmclane commented on #101
Thanks for the information!

I came across this project after playing with Anko and was curious what else was out there.  I have yet to decide how I want to truly use any scripting language as of yet into my project(s).

That being said I like Tengo so far!  I did take a look at the REPL code which is very interesting and gives me some ideas on other ways I might use it in the future.  For the tim

[2019-03-13 00:00] topxeq commented on #137
Yes, I have viewed the runREPL funtion, but everytime in loop it creates a new VM, then compiles the code and runs the code.  I have check the document on godoc.org, too. There is no way to keep the VM state and run another piece of code. Only 3 methods provide: NewVM, run, and abort.

[2019-03-13 00:21] d5 commented on #137
Well it's because it has to re-compile the input source code (parse+compile) to generate a new bytecode to run in VM. I think that's what you want based on your example code above.

You can definitely re-use the same VM only if you're simply replacing values of global variables (like `script.Compiled`), but, if you want to run the new source code every time, you definitely need to parse and compil

[2019-03-13 00:36] topxeq commented on #137
Is it possible to merge the old VM while creating new VM? I think only global variables and functions are necessary to merge.

[2019-03-13 00:41] d5 commented on #137
Not in the current version at least. It will have to reiterate all bytecode to find/replace global indexes and etc. It's a lot of manual stitching, and, I highly recommend just recompiling if the performance is your concern. It still maintains the "states" by sharing symbol table and globals between compile-run cycles.

[2019-03-13 00:47] topxeq commented on #137
Ok, never mind, at least I know the reason now.

[2019-03-13 07:02] #137 closed

[2019-03-14 18:46] d5 opened #142 "add println builtin function"
and `print` should not append newline character at the end

[2019-03-14 18:49] d5 opened #143 "proper handling of '%v' of builtin function printf and sprintf"
[code]

This code currently prints `m: map[a:map[b:map[c:[1 2 3]]]]` but it's supposed to be `m: {a: {b: {c: [1, 2, 3]}}}`.

[2019-03-16 05:17] d5 opened #146 "Syntax highlighters"
- [ ] JetBrains IDE (Goland)
- [ ] Atom ([WIP](https://github.com/d5/tengo-atom))
- [ ] Sublime
- [ ] vim

[2019-03-16 07:14] #142 closed

[2019-03-18 14:10] d5 opened #149 "remove duplicate compiled functions in bytecode"
`Bytecode.RemoveDuplicates` should also remove duplicate CompiledFunction objects (most likely user/source modules).

[2019-03-18 15:23] d5 opened #150 "language specification"

[2019-03-19 23:09] d5 opened #153 "finish 'enum' module"

[2019-03-21 13:30] phenrigomes opened #156 "Interrupt infinite loop"
First, congratulations for Tengo!

Hey guys! How can I interrupt a loop to avoid bad scripts to run in the host? I searched some example but I could not find.

[2019-03-21 15:28] d5 commented on #156
You can set the timeout for the VM execution via [Script.RunContext](https://godoc.org/github.com/d5/tengo/script#Script.RunContext) or [Compiled.RunContext](https://godoc.org/github.com/d5/tengo/script#Compiled.RunContext).

[code]

[2019-03-23 18:20] d5 opened #161 "Runtime panic handling"
Currently we're capturing the runtime panic in VM and return it as an error. We need to either
1. add stack trace to the error message, or,
2. re-throw it so the user can handle it.

#2 is basically what we used to do in the past.

[2019-03-23 18:25] d5 opened #162 "move tail-call checks to compiler"

[2019-03-23 18:28] d5 opened #163 "dead code elimination in compile time"
1. code between "return" and function end
2. code between "return" and jump destination
3. constant expressions
    - `if 1 { } else { }`: can remove `else`
    - `1 + 3` => `4` _(this is not dead code elimination but will be easily achievable if we do constant expression evaluation anyway)_

[2019-03-23 19:10] d5 opened #164 "block scope symbol table bug"
[code]

[code]

both example will cause compile error: `'a' redeclared in this block`

[2019-03-24 09:23] #164 closed

[2019-03-30 19:02] #163 closed

[2019-03-30 19:05] d5 opened #167 "constant expression evaluation"
Compile can identify constant expressions and reduce them or remove the dead code.

[code]

[2019-04-01 09:21] earncef opened #171 "Significant performance downgrade"
#170 has caused a massive performance downgrade.

New:

[code]

Old:
[code]

[2019-04-01 15:02] #171 closed

[2019-04-02 03:40] #156 closed

[2019-04-02 09:57] earncef commented on #130
I don't think this is required anymore

[2019-04-02 09:57] #130 closed

[2019-04-03 10:35] SuperGod commented on #102
I think it is too too complex,if every struct must implement the Object interface.
I known reflection will affect performance,and I see qlang can easily call all golang package and method,maybe you can get some inspiration from it.
https://github.com/qiniu/qlang

[2019-04-03 17:14] d5 commented on #102
Thanks for the suggestion. I will take a look at qlang.

[2019-04-03 17:32] progrium commented on #102
Yea I’m curious how they let you call arbitrary packages if that’s how it
works.

On Wed, Apr 3, 2019 at 12:14 PM Daniel <notifications@github.com> wrote:

--
Jeff Lindsay
http://progrium.com

[2019-04-08 09:01] Bluscream opened #175 "Concatenate/Append strings"
How do I append a string to a variable etc? Like `p := "[" + var + "]"`

[2019-04-08 09:06] Bluscream opened #176 "Custom Time Formatting"
I would like to have a timestamp like `HH:MM:SS` so basically `format_stamp` without the month_day thing. How would I get that in tengo?

[2019-04-08 09:43] earncef commented on #175
For your example, exactly as you've done. However, if you're appending string to a non-string and want a string result, you do `p := string(nonStringVar) + "some string"`

[2019-04-08 09:49] earncef commented on #176
You can use `times.time_format(times.now(), "15:04:05")`

[2019-04-08 10:24] Bluscream commented on #176
Thanks

[2019-04-08 10:25] Bluscream commented on #175
Can you add this to the documentation?

[2019-04-08 15:18] #176 closed

[2019-04-09 03:08] d5 commented on #175
It's not clearly documented, but, we have [Operators](https://github.com/d5/tengo/blob/master/docs/operators.md) documented.

I thought about supporting `non-string + string = string`, but, the problem that
1) the other type may define its own `+` with `string`
2) it's not easy to implement universal string concat operation on all types (for example, even if we add string concat operator to all ru

[2019-04-10 06:15] #143 closed

[2019-04-15 11:26] earncef commented on #175
As of v1.23.0, builtin function `format` is a better way to format strings with non-string objects. It is described in the [Builtins](https://github.com/d5/tengo/blob/master/docs/builtins.md) documentation.

[2019-04-15 11:26] #175 closed

[2019-04-15 11:28] #123 closed

[2019-04-23 21:02] mccolljr commented on #60
I opened #189 with an initial implementation. Happy to take feedback and make changes. Noting here for anyone else who comes looking.

[2019-04-25 06:41] mccolljr opened #190 "spread syntax"
# Spread Syntax

Now that the language has variadic functions, it would make sense to add something like Go's spread operator (`...`) to allow using the contents of arrays as variadic arguments.

However, Tengo uses a stack-based vm. Implementing a spread-like operator would create a re-usable mechanism for "exploding" arrays onto the stack. We can take advantage of this by allowing "exploding" in

[2019-04-25 07:00] earncef commented on #190
I'm not sure about map explosions for two reasons:
- Maps don't guarantee the order of elements
- I'm not entirely sure something like `[["a", 1], ["b", 2], ["c", 3]]` will actually add anything useful that you can't do with map iterations.

It's the same reason I'm not sure this should be applicable for any `Iterable` implementations other than arrays/immutable arrays unless the `Object` can be c

[2019-04-25 15:02] mccolljr opened #193 "Runtime Error: not index-assignable: <free-var>"
this code:
https://tengolang.com/?s=dd5237c03b3d0437a3017f3bdd2d234708475c68
[code]
gives:
[code]

[2019-04-25 19:27] mccolljr commented on #190
I updated the proposal to acknowledge lack of map ordering guarantees. I can see where you're coming from with not including that, but I think as long as we document the fact that we only explode the values and that ordering guarantees are implementation-dependent, including custom iterators would be useful.

You could collect an iterator, or collect several iterators in sequence in one statement:

[2019-04-25 19:46] earncef commented on #190
I’m not against custom explodable types per se but I am not convinced about explodable maps or objects that can’t guarantee order of elements. While documentation might help, it is very non-intuitive and is likely to create confusion, given the kinds of cases where variables can be exploded.

- exploding a map into an array is nonintuitive as array guarantees order and map doesn’t
- exploding into

[2019-04-25 20:06] earncef commented on #190
An alternative would be two operators, one that works on ordered elements and another that works on all but without order guarantees.

[2019-04-25 20:21] earncef commented on #190
Another problem with the map implementation as you’ve described it is that it’s inconsistent with all the other iterable implementations. All the others only explode values, map explodes an arrays of key and value.

Maps are not guarantees to be the only Objects with non-int keys. This inconsistency needs to be dealt with.

[2019-04-25 20:39] mccolljr commented on #190
I removed maps from the proposal - it's potentially confusing functionality without a compelling use case. I see your point there. We can even go so far as to prevent maps from being exploded with a runtime error - it's better to limit it to arrays and types where the responsibility for iteration order is up to the user.

For custom explodable types, thoughts on adding a new interface to the `obje

[2019-04-26 04:32] #193 closed

[2019-04-26 04:34] #60 closed

[2019-04-26 05:58] earncef commented on #190
I'm good with the `Explodable` interface.

[2019-04-28 06:54] d5 opened #196 "iterator performance"
Currently `for-in` statement is implemented by unpacking it into regular `for` statement and a hidden value `:it` ([here](https://github.com/d5/tengo/blob/master/compiler/compiler_for.go#L80)). It works correctly, but, one problem with this approach is that we do lots of type assertions (to `Iterator`) during the iterations: [OpIteratorNext](https://github.com/d5/tengo/blob/master/compiler/compile

[2019-05-03 06:21] d5 opened #201 "rewrite `enum` modules with new VM implementation"
Because now that we can call compiled functions from Go code.

[2019-05-03 06:22] d5 opened #202 "Bytecode concurrency"
Compiled bytecode should be re-usable by multiple VM instances and also should be concurrent safe.

[2019-05-03 14:22] mccolljr commented on #162
I did some digging, and I don't think this will be possible at the moment since the compiler doesn't know anything about the identity of functions or closures and therefore can't determine if a call is to the same function or closure that is executing in the current frame when a call expression is compiled.

[2019-05-04 18:06] d5 commented on #162
Agreed. Will close this ticket for now.

[2019-05-04 18:06] #162 closed

[2019-05-04 21:04] jcw commented on #190
FWIW, I'd vote to _avoid_ a new interface for spreads, for lack of a clear need. While array spreads will be very convenient, everything else can be turned into an array before getting used with `...` - I think.

(When in any doubt, please consider _not_ adding a new feature yet. It's always very hard to get the genie back into the bottle. At least that's the lesson I always take away from the Go

[2019-05-09 17:59] mccolljr commented on #201
FYI, I need to open a second PR for this. It was originally part of #203 but I had to pull it. I will open a new PR with the ability to call Tengo from Go shortly as a new PR

[2019-05-09 17:59] mccolljr commented on #190
implemented by #203, with the caveat that only the last position in a call may contain a spread expression.

[2019-05-09 17:59] #190 closed

[2019-05-10 13:17] mccolljr commented on #201
#204 has been opened

[2019-05-13 16:07] mccolljr commented on #94
@kcsampson this functionality is now available in the `tengo2` branch. The `Callable` interface and `CallableFunc` signatures have changed, so you might need to update your code to support that, but you will be able to call back to tengo code from go code provided you make the call from the same goroutine the VM is running on.

[2019-05-24 22:18] Chillance opened #207 "Simplify Calling tengo functions from Go"
I really like this project and scripting language. I like that has similar Go syntax, and has good speed. Turns to native Go I assume. I noticed tengo doesn't support returning multiple values though, maybe for tengo2?

Now, I noticed that #204 is in tengo2 branch, so I'm guessing it will take a while before it's officially released?

What I was wondering is, would the functionality to call a func

[2019-05-26 15:55] d5 commented on #207
Yeah, we've been working on a new version in `tengo2` branch, but, things have been slow lately. And, one of the changes in the new version is to allow calling Tengo functions (`CompiledFunction`) from Go functions. There are couple of issues we're trying to address (especially around error handling), but, hopefully the new version will be released soon. Thanks!

[2019-05-26 15:55] #207 closed

[2019-06-10 02:20] d5 opened #210 "new builtin functions"
- `bind`
- `new`
- `at`
- `arg1`, `arg2`, `arg_n`

[2019-06-10 02:21] d5 opened #211 "fix source map in interop call"

[2019-06-17 13:00] mccolljr commented on #210
@d5 `bind` I think I understand, but what are the desired behaviors of `new`, `at`, `arg1` etc.?

[2019-07-20 06:20] phrozen opened #214 "Load/Save Bytecode into Compiled"
Hey, I just found the project and seems great. I could not find a way in the exported code to export the Bytecode and save for later use (ie. Database) and load it again later into a Compiled instance. Is this possible? I think the functionality is there since the standalone interpreter/CLI can already do this by compiling and executing compiled code from file.

[2019-07-20 06:25] phrozen opened #215 "Limit script execution time and memory"
I require to limit both memory usage and execution time of a script in the VM. Memory is kinda already there with MaxAllocs and both string/bytes length, but is kinda lacking a fine control over resource allocation.

Is it possible to support MaxExecutionTime and MaxMemory to the script in the VM?

[2019-08-01 22:07] Ma124 commented on #107
I've created [`gitlab.com/Ma_124/httpbox`](https://gitlab.com/Ma_124/httpbox) a library that sandboxes outbound requests according to a [Policy](https://godoc.org/gitlab.com/Ma_124/httpbox#RequestPolicyImpl), a [function](https://godoc.org/gitlab.com/Ma_124/httpbox#RequestPolicyFunc) or anything else that implements an [interface](https://godoc.org/gitlab.com/Ma_124/httpbox#RequestPolicy) using a

[2019-08-03 16:54] Ma124 opened #216 "add hex and base64 encoding"
I'm currently working on a [crypto module](https://github.com/Ma124/tengo/tree/stdlib-crypto) #135 and often you want your encrypted data base64 encoded or your hashes as hex.

Which is why I suggest adding these features to the text module or an encoding module with support for base64 encoding and hex because the only way I known to hex encode bytes at the moment is `sprintf("%x", bin)` which is

[2019-08-03 19:06] mccolljr commented on #216
@Ma124 I would prefer to keep encoding out of the `text` module since it is also applicable to non-text data. I think the optimal approach here is what Go does, where we have a separate package for each encoding scheme (base64, hex, etc) that provide a similar interface for encoding/decoding data. What are your thoughts on that approach?

[2019-08-04 09:26] Ma124 commented on #216
@mccolljr I'd prefer all encodings in one module so you only need to import it once, a module with just two functions `func EncodeHex(bytes)` and `func DecodeHex(string)` would kind of destroy the point of modules and clutter the stdlib with countless modules if we then decide to not only to include hex and base64 but also for example base32 or ascii85 you would need this call:
[code]
instead of a

[2019-08-04 10:00] geseq commented on #216
I'm in agreement with @mccolljr. We already have a `json` package, which was fine as a separate package while it was the only one available, but as we're considering adding more here I'd rather avoid importing all functions into the runtime in one go. I'd suggest moving `json` into encoding and adding each scheme into a separate package.

The upside is that it also keeps it in line with Go.

[2019-08-04 13:16] mccolljr commented on #216
Here's my concern. If we add all the functions to a single encoding module, we're going to have a package with a huge surface area and as a result the function names are going to need to be specific and long to compensate. We can define a meta-module that re-exports the different encoding schemes under one module as functions, but I believe there is value in having each encoding module set up sepa

[2019-08-04 14:44] mccolljr commented on #215
What kind of values would we provide to MaxMemory? See [Go Issue #16843](https://github.com/golang/go/issues/16843) for a discussion about defining a max heap size / tracking heap size. Go doesn't seem to have a concrete solution for this, which limits what we can do as a part of the implementation.

[2019-08-04 14:58] Ma124 commented on #216
Ok I'll submit a pull request with a module for base64 and one for hex.

[2019-08-05 12:45] npafitis opened #220 "Tengo playground example stuck at executing..."
The Tengo Playground example found in this project's readme seems to stick at executing code.

[2019-08-05 13:03] mccolljr commented on #220
@npafitis I just went to the playground from the README link and executed the code successfully, can you post some more details?

[2019-08-05 15:28] Ma124 commented on #216
Fixed by #221

[2019-08-05 15:28] #216 closed

[2019-08-06 10:28] Ma124 commented on #104
I've written a [python script](https://gist.github.com/Ma124/7a633cc0d1c2ace8ecbb2c025d194661) for my personal use but it isn't very clean nor polished but it could be a starting point.

[2019-08-06 15:36] Ma124 commented on #135
I have written a [crypto module](https://github.com/Ma124/tengo/tree/stdlib-crypto) which [exports functions](https://github.com/Ma124/tengo/blob/stdlib-crypto/docs/stdlib-crypto.md) for encrypting and decrypting AES in CBC, CTR, OFB and GCM mode, <details><summary>lots of hash functions</summary><p>
MD4
MD5
SHA1
SHA224
SHA256
SHA384
SHA512
MD5SHA1
RIPEMD160
SHA3_224
SHA3_256
SHA3_384
SHA3_512
SHA

[2019-08-07 18:33] npafitis commented on #220
@mccolljr Weird, seems to be working perfectly fine now. I tried this from my workplace the first time, is it possible that it was blocked by a firewall.

[2019-08-12 15:48] mccolljr commented on #215
@phrozen did you see my above comment?

[2019-08-12 16:32] phrozen commented on #215
Yes, is there a way to kill the VM in mid execution? Maybe not provide a MaxMemory value on creation but being able to track some stats of the runtime would help, to be able to shut it down if necessary. About the time execution limit, would that be feasible?

[2019-08-16 16:53] rbund commented on #214
@phrozen : have a look onto **cli/cli.go**.
Function `CompileOnly()` shows how to compile source to byte code and function `RunCompiled()` loads byte code from a file and executes it.
Hope this helps.

[2019-08-16 17:01] rbund commented on #150
Honestly, what is really missing is **how** to use the different modules and what is the general data flow. I digged through the source and now got an impression how I can make use of it, but starting with a simple "how to install" down to what component uses which for what reason would be really helpful.
I really like your design and found planned future extension points (e.g. `ModuleLoader`). Wh

[2019-08-16 17:04] rbund commented on #167
**This** is a quick win! :+1:

[2019-08-16 17:46] phrozen commented on #214
Amazing, exactly what I was looking for, thanks!

[2019-08-16 17:46] #214 closed

[2019-10-06 14:41] sibeshkar opened #225 "Method chaining with Go objects"
Hello,

Thank you for creating Tengo.

I wanted to create a program where I define an object and it's methods in pure go, and use them in a tengo script using method chaining (kinda like [jquery](https://www.w3schools.com/jquery/jquery_chaining.asp)). I was wondering if this was possible in tengo, and if yes, then what's the best way to do it. I am aware that I can define custom object types using

[2019-10-22 15:52] shnifer opened #227 "variadic does not work"
Hello! I tried this sample code
[code]

both on playground and my code, and got this error:

[code]

[2019-10-24 13:21] shnifer commented on #227
Ohh, I see. Thanks for response )

[2019-10-24 13:21] #227 closed

[2019-10-24 15:29] d5 commented on #227
Updated tengo playground to 1.24.6. Please let me know if it fixes the issue. Thanks!

[2019-10-25 10:31] #220 closed

[2019-10-29 01:51] sotoup opened #231 "spelling mistake in os_file.go"
`Name: "start"` should be `Name: "stat"`

[code]

[2019-10-29 16:02] runsys opened #232 "import syntax don't like golang syntax"
import syntax don't like golang syntax

[2019-10-29 16:06] mccolljr commented on #232
Please be more clear about what the problem is. Can you include details including what you saw vs what you expected?

[2019-10-31 11:58] kingangelAOA opened #233 "call tengo by golang?"

[2019-10-31 12:10] #233 closed

[2019-10-31 13:20] kingangelAOA opened #234 "go-python"
[code]
        goos: linux
        goarch: amd64
        pkg: tempest
        BenchmarkVM-8   	    1000	   2107018 ns/op
        PASS

use go-python3
[code]
      10000 ns/op

something wrong?

[2019-10-31 13:41] geseq commented on #234
You’re comparing a recursive implementation to an iterative one.

[2019-10-31 13:41] #234 closed

[2019-11-02 06:36] #231 closed

[2019-11-02 10:09] runsys commented on #232
if tengo grammar same with golang. the code can optimize with native code.

[2019-11-04 21:06] Darkclainer commented on #202
Hello, is this direction abandoned, or you are waiting for volunteers?

[2019-11-05 03:30] geseq commented on #202
It’s not abandoned, but there has been little time recently to work on major improvements so contributions would be welcome.

[2019-11-05 22:50] Chillance commented on #207
So, it's not possible to call tengo functions from Go in v1?

[2019-11-07 06:50] geseq commented on #225
I don’t think you’ll be able to achieve method chaining like you described with custom objects. The closest you could get is by perhaps using the Callable interface to create a custom object that returns another custom object for the Call method with its own Callable implementation ...

However the syntax would be clunky and not like the method chaining you’re looking for.

[2019-11-10 18:21] summerwinter opened #236 "skipBlock parameter of Parent function in compiler/symbol_table.go"
Hi, I'm trying to study the great Tengo code, and I'm confused with the skipBlock parameter of Parent function in compiler/symbol_table.go. For example,
[code]

in above code, both ret1 and ret2 would be treated as GLOBAL variable, based on below Tengo source code(compiler/symbol_table.go), which is not reasonable.

[code]

Could you kindly help explain the usage of skipBlock parameter? Looks like

[2019-11-15 04:56] d5 commented on #236
`skipBlock` exists to differentiate function scopes vs block scopes. Blocks do not affect the symbols' scopes. Assuming your example code is outside a function, both `ret1` and `ret2` are global symbols because of that.

[2019-12-14 21:29] #236 closed

[2019-12-19 22:23] hamstah commented on #215
Hi, Are there any updates on the thinking for this? Particularly the max execution time either in frames or actual time. Without being familiar with the code, it seems that adding some checks in vm run() in the main loop would be doable? I'm happy to work on a patch with some pointers on what's the preferred implementation.

[2019-12-19 22:46] d5 commented on #215
You can use `VM.Abort` method. Actually `Script.RunContext` uses the same method to abort the VM when the context is cancelled.

[2019-12-20 23:15] hamstah commented on #215
@d5 perfect, thanks!

For reference here is an example

[code]

[2019-12-24 08:30] antmanler opened #240 "Can not create custom Object since "token" becomes a internal package"
The signature of `Object.BinaryOp` relies on then internal package [token](https://github.com/d5/tengo/tree/master/internal/token) which make it hard to build custom Object

[code]

[2019-12-24 15:42] #240 closed

[2019-12-25 06:27] antmanler commented on #94
I'd like to know when this feature will be merged  @mccolljr

[2019-12-27 16:53] tmclane opened #242 "class like Tengo objects"
Is it possible to create class-like objects and inject them into Tengo?
The [Extensible](https://github.com/d5/tengo/blob/master/docs/objects.md) wiki page talks about how to make an object `callable` and to support `indexed get/put` type functions but if I wanted the ability to define my own custom functions on my type how is that done?

Also is it possible to access `public` members of a injecte

[2019-12-27 17:13] #215 closed

[2019-12-27 17:33] d5 commented on #242
Something like this?

[code]

[2019-12-27 17:38] tmclane commented on #242
Thank you! I didn't realize the `IndexGet` was how the `methods` were defined/retrieved at runtime.
I was expecting some other method of adding them to the user defined Object.

[2019-12-29 17:29] ozanh opened #243 "go modules v2 module path"
Thank you for the version 2. Unfortunately I had some troubles to use v1 and v2 together. Is it possible to rename the module name in `go.mod` as `github.com/d5/tengo/v2` ? According to this post https://blog.golang.org/v2-go-modules it is better to create a v2 dir and copy files to here and update import paths.

[2019-12-29 21:38] #243 closed

[2019-12-30 18:02] #242 closed

[2019-12-30 18:03] #232 closed

[2020-01-30 14:07] superloach opened #245 "Compile Error: module 'fmt' not found"
The example code doesn't seem to work, and I'm not sure why.

code:
[code]

error:
[code]

[2020-01-31 03:34] jiangjianxiao commented on #245
[code]

[2020-01-31 03:36] superloach commented on #245
Ah, thank you! Don't know how I missed that.

[2020-01-31 03:36] #245 closed

[2020-02-05 23:12] ozanh opened #246 "Runtime Error: not function: compiled-function"
Hi,  I had ``Runtime Error: not function: compiled-function`` error with code below.
Here is a simplified example program
https://play.golang.org/p/03n2QoKQGAz
[code]
When I remove any import from (main) module, error is not raised! I couldn't find the reason but the error code is here https://github.com/d5/tengo/blob/d5b24138d31ce12ba772213de99ea8b05b9ea6d3/vm.go#L720-L728

[2020-02-06 05:48] geseq commented on #246
The import is not a function, so you'd want your rewrite your `mymodule1` like this:

[code]

[2020-02-06 11:28] ozanh commented on #246
@geseq in this case this solves the problem, we need a generalized solution to document. Can you explain why it is happening? Of course, my case is different than example code but most of the time I got `Runtime Error: not function: compiled-function`.

I have tried many things to work with source modules as if tengo is like any other standalone scripting languages but I failed too much (probably

[2020-02-06 17:51] geseq commented on #246
Source modules expect all of the global variables in the module to be functions, similar to builtin modules or stdlib modules. When you import a module into a global variable within another module, it’s not a function. Hence the error.

I agree that this can be documented better. I’ll try and work on it.

[2020-02-07 10:30] ozanh commented on #246
Thank you @geseq for supporting tengo

[2020-02-15 11:48] ozanh opened #248 "builtin function delete()"
I think there is no builtin `delete` function for maps to delete keys as go has. It can be improved to handle deleting array indices. I need this feature, if it is not planned I can try to implement a builtin delete for Map and Array. What do you think about this?

[2020-02-16 03:49] geseq commented on #248
There is a PR for map deletes but I think the author might’ve abandoned it so feel free to create a PR!

[2020-02-16 21:50] ozanh commented on #248
PR created for builtin delete #250

[2020-02-18 20:35] ozanh commented on #202
Hi, for testing bytecode concurrency if it is enough to run a fat tengo script with enabled race detector and spawning a lot of goroutines to run scripts concurrently for a long time, I can try to do that if you like.

[2020-02-18 20:55] breml opened #251 "Add shebang support (#!)"
To use tengo as scripting language in the terminal, support for shebang (`#!`) would be beneficial.

Additional question, what is the proposed file extension for tengo files?

[2020-02-18 21:45] ozanh commented on #251
I think file extension is `.tengo` as shown in [cli documentation](https://github.com/d5/tengo/blob/master/docs/tengo-cli.md)

[2020-02-19 14:30] ozanh opened #252 "builtin function splice"
JS `splice` function looks like [this](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/splice)
[code]
I can implement it like this for tengo
[code]
if `delete_count` is not provided, JS deletes the array items starting from the `start` to the end. If `delete_count` is provided, after deletion (if greater than 0), item1, item2, etc. are inserted to the origina

[2020-02-21 09:58] zhanglijun1217 opened #253 "miss a ']' ？"
is here miss a ']' ？
i think it is :
  ["foo", "bar", [1, 2, 3]**]**
![image](https://user-images.githubusercontent.com/36496779/75023886-8423e900-54d3-11ea-9bc0-91d714bf445e.png)

[2020-02-21 09:59] zhanglijun1217 commented on #253
chapter **Array Values**

[2020-02-25 09:26] geseq commented on #252
Sounds good! Are you going to work on an implementation?

[2020-02-25 10:14] ozanh commented on #252
Yes I am planning to complete it this week. I have just one question. Should it be a bulitin function or Array method e.g. `Array.splice()` ?

[2020-02-25 10:16] geseq commented on #252
A builtin function would be better and keep to the tengo standards

[2020-02-25 10:30] ozanh commented on #252
You are right, I need couple of days to finish. Thanks.

[2020-03-04 06:16] #252 closed

[2020-03-04 06:20] #248 closed

[2020-03-04 14:53] #253 closed

[2020-03-12 05:56] joseph-montanez opened #257 "is_undefined does not worked for compiled scripts?"
I am using is_undefined and when I compile the script, it errors out with `Compile Error: unresolved reference 'globalState'`

Tengo Script
[code]

Compile Script
[code]

Clone and Run Script
[code]

All I am trying to do here is create a global state that can live between script runs. So I wanted to pass `SET` a variable that the tengo scripts can read and change. If I `ADD` the variable when com

[2020-03-12 06:19] geseq commented on #257
You need to first define the variable "globalState". Something like this:

[code]

[2020-03-12 06:23] geseq commented on #257
Ah, I didn't read the part about you trying `Add`. When you say the variable is reset every time it's cloned, do you mean in the new instance, or in the previous cloned instances?

[2020-03-12 06:37] geseq commented on #257
At the end of your script run you can do this:
`globalState = script.Get("globalState")`

What you've done with `Set` is fine, but neither `Add` not `Set` transfer the state back into your original variable at the end of the script run. You need to use `Add` before you compile and `Set` as you do now, and then use a `Get` to update the original variable that you're using as your global state.

[2020-03-12 16:23] joseph-montanez commented on #257
@geseq I was looking at the wrong call stack so, it does look like the data is carried over, as long as I pull it out and add it back.

I guess I was expecting `is_undefined` to work variables that don't exist in the VM, rather than variables that exist but are `nil`. Looking over the test cases, it does not seem like it was designed that way and instead only used to check the variable's type to s

[2020-03-12 19:35] geseq commented on #257
The `Undefined` type is is more than just `nil`. For instance array index/map key access on `Undefined` returns another `Undefined`.

[2020-03-15 07:18] nadilas opened #258 "No output when used as a package"
Hi,

my question is rather simple. I am using tengo as a package within out application, but the print functions don't produce any output. I use logrus in the application, which is fine, but the tengo execution doesn't provide any output for the `fmt.` methods.

Where is the output being redirected to? thanks!

[2020-03-15 07:24] #258 closed

[2020-03-15 18:13] #257 closed

[2020-03-18 19:37] xkortex commented on #78
To clarify, if `foobar` is a nested object composed of primitives, maps, and arrays `freeze(foobar)` would return the equivalent data structure with ImmutableArrayS and ImmutableMaps?

What is the ordering convention on maps/ImmutableMaps? Just insertion order?

[2020-03-18 19:40] xkortex commented on #146
Relevant:
https://www.jetbrains.org/intellij/sdk/docs/reference_guide/custom_language_support.html

[2020-03-23 06:46] AllenDang opened #261 "go get github.com/d5/tengo/v2 doesn't work with Go v1.14 on MacOS."
package github.com/d5/tengo/v2: cannot find package "github.com/d5/tengo/v2" in any of:
	/usr/local/Cellar/go/1.14/libexec/src/github.com/d5/tengo/v2 (from $GOROOT)
	/Users/allendang/Documents/Gocode/src/github.com/d5/tengo/v2 (from $GOPATH)

And if I "go get github.com/d5/tengo", it could work.

But below example code cannot run.

[code]

Error message is Compile Error: module 'fmt' not found

Wh

[2020-03-25 10:59] pjebs opened #262 "Executable File Size"
Does Tengo generate smaller file sizes than Go for an equivalent simple program?
Does it have a GC?
Does Tengo compete with ZigLang: https://github.com/ziglang/zig ?

[2020-03-25 15:20] d5 commented on #262
Tengo is an embedded language for Go, which means: No it will not likely generate smaller binary. Yes it uses Go’s GC. No it does not compete with Zig.

[2020-03-25 21:42] #262 closed

[2020-03-27 11:39] infinytum commented on #261
Can you post the code of the main.go file used to run the script? You need to add the stdlib modules to the Script like this:

[code]

or just the fmt module
[code]

[2020-03-27 12:27] AllenDang commented on #261
@infinytum I cannot go get this package according to the doc. That's the major issue.

[2020-03-27 12:32] infinytum commented on #261
Are you working inside a go modules project?

If not, just use 'go get github.com/d5/tengo'

[2020-03-28 02:24] T2RKUS opened #264 "Is this project still being actively developed?"
Hello, does the tengo2 branch work? What is currently halting progress?

[2020-03-28 04:17] d5 commented on #264
It's being maintained but not in an active development. `tengo2` branch was used to work on more experimental features a while ago, but I recently merged some of those features into `master` and up the version to `v2.x`. I just deleted `tengo2` branch.

[2020-03-28 10:00] T2RKUS commented on #264
That’s a shame... the tengo2 branch had a better folder structure, of it worked I was going to fork it. Did you merge the feature that allows you to directly call a tengo function from go code instead of the work around used in go-fsm?

[2020-04-05 16:26] ozanh opened #265 "spread support"
Hi, there was spread syntax support for variadic function calls and arrays in tengo2 branch, which was implemented by @mccolljr #190  . Is there a reason not to implement it in master branch with or without explosions?

[2020-04-09 03:03] tmclane commented on #264
So are you considering the project dead?   Or just that v2 matured enough to merge into master?

[2020-04-09 03:10] d5 commented on #264
Well. We still maintain the code. There hasn't been much of "new" features for sure, but I'm not sure if that makes the project dead.

[2020-04-09 03:33] tmclane commented on #264
Fair enough!  I was just confused with the other question. I was hoping you hadn't abandoned it completely!

[2020-04-09 04:15] d5 commented on #264
Been super busy and couldn't find a time to work on Tengo, but I still review PRs and work on bug fixes.

[2020-04-23 23:01] dgrr opened #267 "BinaryOp doesn't work with token.Assign"
Hello,

I just started with tengo and I was wondering if there's a way to do this code work:
[code]
The output shows `int64`, when I was expecting a call to BinaryOp with `tok = token.Assign`.
Is that the expected behavior? Why `v += -1` returns the expected result?

[2020-04-23 23:28] dgrr commented on #267
I made it work, but I don't know if that could affect backward compatibility

[code]

[2020-04-24 16:47] geseq commented on #267
Assignment is not considered a binary operator. You can find a list of binary operators here: https://github.com/d5/tengo/blob/master/docs/tutorial.md#binary-operators

Also, when you do `v += -1`, it works because `+` is a binary operator and is passed to `BinaryOp`.

[2020-04-24 16:56] #267 closed

[2020-04-24 17:22] tmclane commented on #265
Unless I am mistaken that was merged in to v2.

[2020-04-25 13:15] tmclane commented on #265
Ok after further digging in to the Git history I can see it was merged into tengo2 branch which doesn't appear to have become the new master.

[2020-04-25 15:33] d5 commented on #265
I'm open to revisit the feature if anyone wants to try implementing it again, but I didn't merge it to master last time because I found some edge cases that were not covered by the implementation. I really liked @mccolljr 's implementation, but I didn't have more time to identify and/or fix those issues. I figured Tengo should be simple and fast, even if it's missing some nice features. I'm not ag

[2020-04-25 15:34] #264 closed

[2020-04-25 15:35] #261 closed

[2020-04-29 09:26] MoonShining opened #268 "json encode bug"
https://github.com/d5/tengo/blob/master/stdlib/json/json_test.go

try this test case `testJSONEncodeDecode(t, "1\u001C04")`

it reports `invalid character 'x' in string escape code`

[2020-04-29 15:16] idoall opened #269 "Assignment and Increment Operators Error"
[code]

Error : Runtime Error: invalid operation: float % float\n\tat (main):5:8

[2020-04-29 15:19] #269 closed

[2020-05-02 19:49] lissein commented on #146
Hi,
I just published a [VSCode](https://github.com/lissein/vscode-tengo) extension that provides syntax highlighting for Tengo.
Feel free to use it, and don't hesitate to fill issues if something is wrong.

https://github.com/lissein/vscode-tengo

[2020-05-03 00:01] d5 commented on #251
If the goal is simply to support shebang, it should be implemented in Tengo CLI as a special case, rather than a language-wide comment syntax. Tengo CLI can simply ignore the first line of .tengo file if it starts with `#!`. (https://github.com/d5/tengo/pull/263#issuecomment-605391943)

[2020-05-03 00:01] #246 closed

[2020-05-03 00:01] #225 closed

[2020-05-03 00:01] #211 closed

[2020-05-03 00:01] #210 closed

[2020-05-03 00:02] #201 closed

[2020-05-03 00:03] #153 closed

[2020-05-03 00:04] #101 closed

[2020-05-03 00:04] #102 closed

[2020-05-03 00:04] #104 closed

[2020-05-03 00:05] #94 closed

[2020-05-03 23:36] ozanh commented on #268
Hi, here is my quick dirty solution without touching tengo's json scanner. I think current scanner handles `\u` but not `\x` sequences. So, changing tengo's json encoder to use go's `json.Marshal()` instead of `strconv.AppendQuote` for string encoding fix this case, at least tests are ok.
Current https://github.com/d5/tengo/blob/b203f09032cad2123b6e06d6242d7b40686eb4a0/stdlib/json/encode.go#L132-L

[2020-05-04 01:51] d5 commented on #268
For context: main motivation for the custom implementation of JSON (instead of using Go stdlib json module as-is) was mainly the running performance. All Tengo objects have explicitly defined value types so there were some performance gains by skipping all reflection related code path in the standard library.

Obviously an easier solution here is just to use the Go implementation. But I still want

[2020-05-04 02:28] ozanh commented on #268
We can port go's string to json encoder function directly so there will no reflection penalty. I can make it if you like. Other json libraries also use port of go implementation for string encoding.

[2020-05-04 03:37] d5 commented on #268
Contribution is always welcomed!

[2020-05-04 23:51] ozanh commented on #251
I can add shebang support if no one is currently working on it. Please let me know.

[2020-05-05 01:55] d5 commented on #251
No one's working on this as far as I know.

[2020-05-05 02:12] ozanh commented on #251
Scanning and skipping BOM bytes and `#!` till the `\n` char with a function can do this job from `cmd/tengo/main.go` using `inputData`. In addition, I think program needs to change the current working directory using inputFile in case file import exists, right? Do I miss anything?

[2020-05-05 02:33] d5 commented on #251
1. Yeah, maybe we should add a proper handling of BOM, but I think it should be a separate PR.
2. We can simply check if the beginning of the first line is `#!`. If so, we can simply trim it.
3. Not sure what you want to change with import path?

[2020-05-05 02:41] ozanh commented on #251
Tengo modules can have file imports with relative paths, if we don't change the current working dir, can compiler find the imported modules? AFAIK compiler just takes the file name not the path. `os.Chdir()` call with file's dirname would be enough, I think.

[2020-05-05 02:52] d5 commented on #251
Yeah. We're using `ioutil.ReadFile` to read the files (in tengo main and file module reading code), which will take care of relative path. So... I think we should leave it as is unless we have some edge cases found?

[2020-05-05 02:59] ozanh commented on #251
If we do not change the current working dir, a tengo script must use absolute paths to import another module. Also, if a script wants to create a file it may unintentionally create the file where tengo executable is, not in script's dir. I will later create an issue for this after shebang support.

[2020-05-05 03:04] ozanh opened #273 "stdin stderr support"
AFAIK, current tengo stdlib does not support reading/writing using stdin or stderr. Adding `stdin()` and `stderr()` functions, which return a file like object, to `os` library will be suffice to handle basic requirements. After implementing shebang support these functions will be required by users to use tengo as a standalone scripting language.

[2020-05-05 04:46] #268 closed

[2020-05-06 15:07] tgascoigne opened #275 "Calling *CompiledFunction from Go"
I'm trying to load a script and then call a tengo function by name. I'm currently doing something like this:
[code]

It looks like `fn` is a `*CompiledFunction`. Its [`CanCall` method returns true](https://github.com/d5/tengo/blob/master/objects.go#L619), but it doesn't appear to actually implement the `Call` function, only via its embedding of `ObjectImpl`.

Is it possible to call into a `*Compil

[2020-05-08 16:43] d5 commented on #273
We should also add `stdout()` if we do this. One thing to note is that sandboxing is important in Tengo. In many cases, direct access to stdin/out/err will be less desirable if it's running an arbitrary user code. For example, functions in `fmt` package can be easily controlled because you can simply make it un-importable. Not saying that we should put stdin/out/err in a separate package, but we w

[2020-05-08 17:09] #251 closed

[2020-05-08 17:12] ozanh commented on #273
I agree with you. I was thinking about creating three functions `stdin()` `stdout()` and `stderr()` under `os` library like `os.open()`. What do you think?

[2020-05-08 17:28] d5 commented on #273
Yeah. `os` package will not be included for most sandboxed environments anyway.

[2020-05-08 20:15] ozanh commented on #275
Hi, it is not possible to call `*CompiledFunction` from Go for v2. `CanCall()` and `Call()` methods are used in VM and let you provide callable to scripts from any type implementing them. See this [page](https://github.com/d5/tengo/blob/master/docs/objects.md#callable-objects)
Let me know your use case so I may suggest some workarounds.

[2020-05-08 21:19] tgascoigne commented on #275
Hey, thanks for the reply. What I'm trying to do is essentially use Tengo functions as callbacks. So the user provides a script with a few named functions, which the Go code will call into when certain things happen.

[2020-05-08 22:25] ozanh commented on #275
Here is a simple snippet for you I hope it helps;
[code]

[2020-05-09 01:47] idoall opened #276 "是否能够提供载入其他文件功能"
感谢提供这么好的工具
我测试时最多一个脚本要写50KB以上，而且N个脚本都有重复的部分，是否可以提供载入其他文件功能，将公共部分抽离更易于管理？

[2020-05-11 15:30] tgascoigne commented on #275
Thanks Ozan, that looks like a decent solution. My only concern is that I'm planning to have lots of these scripts, and this extra boilerplate around each of them would harm readability.

I've [hacked together a solution](https://gist.github.com/tgascoigne/5d775945303c37e68632dc1bd7cd638d) which pokes the correct sequence of instructions into a `*VM` and pulls the return value back out at the end.

[2020-05-11 21:16] Kunderao opened #277 "Implementing a Go function accessible by Script"
How does one create a function in Go to be set into the VM.

I have a function that returns an interface{} type; The following actually does not work.

var m3intrfs= make(map[string]interface{})

m3intrfs["one"] = "dell.com"
m3intrfs["two"] = 2
m3intrfs["three"] = 3.3

var foo3 = make(map[int]interface{})
foo3[1] = 3.3
foo3[2] = 4

m3intrfs["four"] = foo3  // add a map of interfaces into the main

[2020-05-12 01:07] ozanh commented on #275
Hi Tom, thank you for sharing your work. It will be hard for you to keep sync with upstream repository, I guess. I studied Bytecode today and created an example, which has some code from your hack and my Go love :). Code is not tested!
Here is the [gist link](https://gist.github.com/ozanh/f81b2eb7aff4b14cf871d8d29c9e60e7) to call `*CompiledFunction` from Go easily. As it is an example, no module s

[2020-05-12 01:54] tgascoigne commented on #275
Nice! That looks perfect. I'll pull this into my local branch and have a play around with it tomorrow, thank you.

Perhaps this could be extended to support functions passed into Go from Tengo as well? Something like this:
[code]

And then have the Go side call that func at a later time? I believe the first operand to `OpCall` can be any object which is callable, perhaps in addition to call by nam

[2020-05-12 02:22] ozanh commented on #275
I just revised the gist (rev3), I forgot to use only new instructions instead of adding to original bytecode.
I will check `Call(fn Object, args ...interface{})` later but as you said, probably closures do not work. Currently, only CompiledFunction run.
Please see my old [example](https://github.com/d5/tengo/blob/master/examples/interoperability/main.go)

[2020-05-12 11:05] tgascoigne commented on #275
Thanks again Ozan, I've integrated that with my code and it seems to work perfectly.

I've extended it a bit to support modules, and to pull in the `Set`, `Get`, `SetImports` etc. functions from tengo's `Script` type. I've also added a `Callback` type which wraps up a callable `tengo.Object` and a `Script` into one struct with a `Call` method, as I wanted to pass handles to these tengo functions a

[2020-05-12 12:16] ozanh commented on #275
Thanks Tom, it is excellent. Everything works as expected with all features, why not. We only run new instructions with current constants and globals which looks harmless. Tengo functions can easily be called. It would be better if it did not run script once to get compiled functions from globals but anyway it works, may be later we can figure out how to get them easily from constants. If you allo

[2020-05-12 12:46] tgascoigne commented on #275
I think compiling and running the script ahead of time is the right thing to do - without it, I think things like non-constant globals would not be initialized correctly when referred to by functions. In my case, the overhead from doing so is not an issue as I'm storing the compiled result and reusing it multiple times.

Please do :)

[2020-05-12 13:07] ozanh commented on #275
Yes you are right keeping as it is is only solution. After adding context support, interface{} conversion wrappers and documentation, couple of days later it will be released :). Finally, I can call tengo functions from my rule engine!

[2020-05-12 15:07] d5 commented on #275
Sounds like there were some meaningful outcomes here! Sorry that I missed the discussions, but please let me know if there's anything else I can do.

[2020-05-13 03:03] idoall opened #278 "How to catch errors in tengo scripts instead of RunCtx？"
How to catch errors in tengo scripts？

[2020-05-13 03:10] idoall opened #279 "Is it possible to add a reference to another tengo script?"
The file I use tengo script has 50kb, and multiple tengo scripts have public methods. Can I keep the public method as a tengo script, and then import the public tengo script at execution time

[2020-05-13 19:43] ozanh commented on #275
@d5 I created a repo for calling Tengo functions from Go with @tgascoigne . Code is mostly ported from Tengo script.go file. Please have a look at https://github.com/ozanh/tengox. We need your expertise. Docs and examples are still missing, but tests look good.

[2020-05-13 19:51] ozanh commented on #279
As far as I understood, tengo source modules are not shared between different scripts, they are all compiled to one bytecode with main code. Do you heavily use Tengo source modules or pure Go modules?

[2020-05-13 20:00] ozanh commented on #278
See [Error value vs runtime error](https://github.com/d5/tengo/blob/master/docs/objects.md)
Currently there is no support for handling runtime errors in scripts.

[2020-05-13 20:12] ozanh commented on #277
You need to create an object to add it to your script `script.Add(name, object)` before compilation to call your Go function with given name. Please check `tengo.UserFunction` type and tengo's `stdlib` modules to see how `tengo.UserFunction` are used.

[2020-05-14 03:42] idoall commented on #279
I use tengo module a lot, tengo file is 50kb+, and there are many repeated methods in it. It is more convenient to use the reference combination between tengo modules before compilation

[2020-05-14 03:43] #276 closed

[2020-05-14 03:45] #278 closed

[2020-05-14 06:35] d5 commented on #275
tengox is brilliant! 😄 Good job!

One thing I'd suggest is that you make them more portable or detached. A similar example would be the relationship between `tengo.Script` and `tengo.Compiled`. `tengo.Script` creates a new instance `tengo.Compiled` instance for each compilation. Then each `tengo.Compiled` instance can be used independently without affecting its parent `tengo.Script`.

Another thin

[2020-05-14 09:14] tgascoigne commented on #275
I'd love to see this included in Tengo, as there's a good chunk of code that had to be duplicated to make this work. If we were to change the API, there's a few qualities of Ozan's implementation I'd like to preserve:

- The ability to have a single handle which contains all of the information needed to invoke a function (`*Callback`). This is useful for storing functions and passing them around.

[2020-05-14 11:25] ozanh commented on #279
Do you run 50KB file with tengo cli or do you embed script in an application? If you don't run thousands of scripts 50KB is not a big deal or do you run scripts in a microchip :flushed: ?

[2020-05-14 11:59] ozanh commented on #275
@tgascoigne we need some time to integrate it in tengo, library must be mature enough to propose any changes. Although we can easily integrate this implementation to tengo passing callbacks to interfere compilation and run processes to change current behavior, we need some time.

We can change the `tengox` Script type to make it similar to tengo's. Separation as Script and Compiled enables to get

[2020-05-15 06:24] idoall commented on #279
About 20 tengo scripts of 50kb are running in an application
There is a general method. In the debugging stage, it is often modified, which is not very convenient

[2020-05-15 18:46] ozanh commented on #136
@d5  I tried to implement it to see if there is a gain. I failed. Benchmarks are not better. Patch file is attached. I removed `OpConstant` for `token.Inc` and `token.Dec`, at least I could try this (I am not a pro!).
VM tests passed with this patch but no gain. I tried alternative ways but still same, I think omitting `OpConstant` does not make sense.
Could you please review this [incdec.patch.tx

[2020-05-15 18:56] d5 commented on #136
Sorry, I should have left more detailed note here. The idea was to experiment with a new dedicated opcode for inc/dec statement with some optimized implementation in VM. I haven't tried it myself, but I think we might be able to save some push/pop and instructions that way.

[2020-05-15 19:01] geseq commented on #136
Sorry, I should have put a note in here about this. I tried this ages ago and didn’t find much improvement with a separate opcode for inc/dec. What I found was that any gain in performance in incrementing/decrementing was offset by the overall loss in performing the switch with an extra case within the vm loop.

[2020-05-15 19:05] ozanh commented on #136
I thought about adding a new opcode but I could not avoid GETL GETG SETL SETG so the quick win seems to use the same BINARYOP switch case.

[2020-05-15 19:16] d5 commented on #136
😄 well. Looks like we can close this issue now then! Haha.

[2020-05-15 19:16] #136 closed

[2020-05-15 23:09] ozanh commented on #279
What about running common utility/helper functions in a separate VM and scripts talk to each other?

[2020-05-15 23:56] d5 commented on #279
I'm not sure if I understood correctly, but can you put shared functions in a separate source, and load it as SourceModule from your other scripts?

[2020-05-15 23:59] d5 commented on #279
I think it's easier if you share some of your code. I'm not quite sure what you're trying to do here.

[2020-05-16 12:10] maichmueller opened #280 "Enable relative imports"
Importing a module `tre.tengo`
[code]
in another tengo script `due.tengo` (both files are in the same folder)
[code]
throws an error, when tengo is invoked as CLI from another directory, e.g. the parent folder :

        at due.tengo:2:8

It works fine however when tengo is invoked from within the folder. This leads me to suspect the import is done relative to the working directory. Relative impor

[2020-05-16 12:18] maichmueller opened #281 "Nested imports fail"
I have three tengo files `uno.tengo`
[code]
the second file `due.tengo`,
[code]
and the third  `tre.tengo`
[code]

All files are in the same folder. Invoking `tengo uno.tengo` within the same folder throws the error:

        at due.tengo:1:8

So it seems nested imports don't work.

[2020-05-17 18:41] Kunderao commented on #277
Can you please provide a hit as to how to go about creating/setting up a userfunc  that will return a map[string]interface{}?
Thank you.

[2020-05-18 15:27] ozanh commented on #281
Hi, it looks like there is a small bug, @d5 @geseq Can following patch fix this? Apparently, `allowFileImport` is not set for child compilers.
[code]

[2020-05-18 16:04] d5 commented on #281
Yes, please open PR with your change. Thanks @ozanh

[2020-05-18 16:16] d5 commented on #280
In the current implementation, all import paths are determined based on the working directory (like bash). But I'm open to other options. @geseq @ozanh

[2020-05-18 16:41] geseq commented on #280
I’m open to relative imports. I can imagine use cases were relative imports would be more suitable than what we have now.

[2020-05-18 17:23] ozanh commented on #280
While using bash, changing current working directory to call other scripts with relative imports make me frustrated. Python has sys.path to resolve imports, but it is a luxury for now. Default behavior can be setting tengo's working directory to script's dir within tengo executable for both run and compile only options.

[2020-05-18 19:47] DerThorsten opened #283 "panics from tengo"
Hi I am getting panics from tengo.
[code]
Cannot pinpoint to the exact tengo code which yields this panic  (will try to isolate the tengo code which yields this)

[2020-05-19 05:15] d5 commented on #280
Just to make sure I understand it correctly.

[code]

dir1/file1.tengo:
[code]

dir1/file2.tengo
[code]

dir2/file4.tengo
[code]

Running `dir1/file1.tengo` would import the other 3 files using such relative paths (file1 -> file2 -> file4 -> file3)?

A couple of things:
- What if the first (root) script is not a physical Tengo file, but a Tengo code inside Go? Should we use the current working dir

[2020-05-19 05:16] d5 commented on #283
Can you share your Tengo code?

[2020-05-19 08:39] maichmueller commented on #280
Hey thanks for your quick answers everyone!
@d5 I think the import you suggested is correct. That's how I would expect it. That would allow to write a form of package for the tengo code.

Regarding tengo in go: One could go for working directory relation or again relative relation to the calling go file I guess. there are benefits and disadvantages to both. However, in a go package id assume that

[2020-05-19 09:17] DerThorsten commented on #283
Not yet, since this was triggert om our servers from some enduser tengo code which we do not store.
Atm we ony have this stacktrace in the logfiles.
I am currently trying to get access to the tengo code

[2020-05-19 11:04] DerThorsten commented on #283
[code]

this gives me:
[code]

[2020-05-19 13:08] d5 commented on #283
Thanks for sharing the code. I will take a look.

@geseq @ozanh It looks like some kind of a bug in `for` statement compiler code. Here's the compiler trace info:

[code]

[2020-05-19 14:00] #283 closed

[2020-05-19 14:03] d5 commented on #283
@DerThorsten this is fixed in `v2.3.1`.

[2020-05-19 14:24] #281 closed

[2020-05-19 18:00] ozanh commented on #280
Hi, I've worked a little, please check this [patch](https://gist.github.com/ozanh/b2a996d9504831b7734d3d7cf7c04e9a)
It resolves file import paths in Compiler and in non-file source modules you need to write import paths considering what is initially set with `*Script.SetImportPath()` and resolves relative import paths. In tengo executable it sets the executable's current working dir to script file

[2020-05-19 22:48] d5 commented on #280
Haha. Why don't you create a PR? @ozanh

[2020-05-20 01:53] idoall commented on #280
I need this function very much. I also meet this requirement when I write a lot of tengo modules

[2020-05-21 19:52] ozanh commented on #273
I will implement this if community shows an interest in it. Other tengo improvements need to be done before this.

[2020-05-22 03:03] idoall opened #286 "Can tengo module support changing script suffix？"
vm.Compile() Error	{"error": "[uno.mshk]Compile Error: module file read error: open due.tengo: no such file or directory\n\tat (main):1:8"}

vm.Compile() Error	{"error": "[due.mshk]Compile Error: module file read error: open tre.tengo: no such file or directory\n\tat (main):1:8"}

[2020-05-22 03:16] ozanh commented on #286
Do you want to use another file extension instead of `.tengo` :scream: :open_mouth: ?  :-1:

[2020-05-22 03:19] idoall commented on #286
yes, file extension ".mshk"

[2020-05-22 03:37] idoall commented on #286
Tengo module file extension, can you make dynamic configuration?

[2020-05-22 03:41] d5 commented on #286
Yeah, we should probably update the Compiler to take other extensions. `.tengo` can be appended only if the given module does not have any file extensions.

[code]

[2020-05-22 03:49] ozanh commented on #286
What if somebody has `module.xyz.tengo` file already and imports it like `import("module.xyz")` ?

[2020-05-22 03:53] idoall commented on #286
[code]

[2020-05-22 03:58] d5 commented on #286
Yeah, I think the general rule can be:

Users can still use the full file names if necessary.

[2020-05-22 04:00] ozanh commented on #286
I know that is an option @idoall but there are already running scripts and compiler needs to check file existence twice every time when path does not exist. I don't often see different extensions with python, js, etc.

[2020-05-22 04:16] d5 commented on #286
We don't have to pre-check if the file exists or not. We simply check the file name and append `.tengo` if necessary but purely based on names. Maybe I'm missing something?

[2020-05-22 04:38] ozanh commented on #286
@d5 tengo cli runs bytecode and source file by checking extension. We need add a cli switch or bytecode file extension to distinguish different file types to run.

[2020-05-22 04:43] d5 commented on #286
Aha. I forgot about it. But I guess this is for `import()` inside the script file. We can keep the current CLI logic to determine bytecode vs source file as is?

[2020-05-22 04:52] ozanh commented on #286
@d5 Let's wait for a week to see other feedbacks, if this is not urgent. I can create a PR but @idoall is this an urgent issue?

[2020-05-22 05:09] idoall commented on #286
It's OK to wait a week

@ozanh

[2020-05-22 05:43] idoall opened #287 "How to use import()？"
How to use it? I have the following error here

[code]

Do need to reconfigure the directory separately？

[2020-05-22 05:43] #279 closed

[2020-05-22 05:56] ozanh commented on #287
Can you share your dirs+files structure? Note: Relative file import support has not been implemented yet.

[2020-05-22 06:08] idoall commented on #287
[code]

[2020-05-22 06:23] ozanh commented on #287
If you are using tengo CLI, you need to use absolute import paths OR process current working directory must be same with where your scripts are if `*.tengo` files include relative import paths (using `cd` command).
If you are running scripts in your Go application, use `os.Chdir()` before script compilation and change later OR use absolute import paths.
New release will solve these issues though.

[2020-05-22 06:34] idoall commented on #287
ok,thx

[2020-05-22 09:13] DerThorsten opened #288 "bug + panic in for-loop (for k,v in dict syntax)"
Bug: the key `k` is not visible inside the func `f` in the loop ( therefore: `Runtime Error: invalid index type: undefined`)
[code]
While this is a proper workaround:
[code]

This segfaults:
[code]
[code]

[2020-05-22 12:37] DerThorsten opened #289 "panic: interface conversion: tengo.Object is *tengo.CompiledFunction, not *tengo.String"
Having two source modules where the one uses the others gives panic.
[code]

[2020-05-22 15:50] d5 commented on #288
It seems that it has to do with `k` and `v` being free variables for function `f`. The following test cases should pass if we're to fix this:

[code]

[2020-05-22 16:28] ozanh commented on #288
@d5 both tests fail, out is assigned to undefined.

[2020-05-22 17:06] ozanh commented on #288
I think following fixes problem in `compileForInStmt()` see uppercase comments in the code
[code]

[2020-05-22 17:29] d5 commented on #288
That's awesome! Please open a PR!

[2020-05-22 17:45] ozanh commented on #288
@d5 I am ashamed of not knowing creating a second independent PR when there is already a my PR open :cry: :smile:

[2020-05-22 17:53] d5 commented on #288
Create a new branch off of the current `master` in your fork. Then you can open another PR to `master` of this main repo from your branch.

[2020-05-22 17:56] ozanh commented on #289
@DerThorsten I still don't know all the mechanics of tengo but I can say that I do not use global variables within source modules, they are not like (main) module, they look like they are designed to hold only compiled functions. My best practice is to do something like this;
[code]

[2020-05-22 18:38] #288 closed

[2020-05-22 20:02] ozanh commented on #289
I realized that when you change the order in `module_a`, behavior changes. Following module runs without a problem. This is a bug !
[code]

[2020-05-22 20:57] #280 closed

[2020-05-22 22:08] carlca opened #291 "Tengo fails to install"
- macOS 10.14.6
- Go 1.14.3
- GO111MODULE=auto

`go get github.com/d5/tengo/v2`

gives
[code]

[2020-05-22 22:17] carlca commented on #291
No worries. I was able to run `go get github.com/d5/tengo`.

[2020-05-22 22:17] #291 closed

[2020-05-22 23:44] ozanh commented on #289
@d5 Could you please check this patch? I think it solves the problem. Since same compiled function is processed more than one, constants become wrong.
[code]

[2020-05-23 00:38] d5 commented on #289
Yeah that's a good fix. Let me check a couple of other things.

[2020-05-23 01:45] d5 commented on #289
What I'm not entirely sure about is de-duping CompiledFunction objects in the main `for` loop of the function.

[code]

Above is the code I just wrote to explain what it was supposed to be. I'm trying to remember why I couldn't de-dupe CompiledFunction objects (pointers) originally. I guess there were some reasons.

[2020-05-23 10:48] DerThorsten commented on #289
how can I then have some impl. detail I do not want to export in a reusable fashion ( a function which is not exported but used within the implementation of other functions?)

[2020-05-23 11:59] maichmueller commented on #280
Hi, I think the fix didn't work. The error persists:
Both files (as they are in the initial post) are in the directory /home/michael/GitHub/tengo. Calling tengo from outside the folder gives:

Compile Error: module file read error: open /home/michael/GitHub/tre.tengo: no such file or directory
        at due.tengo:2:8

From inside the folder it works.

[2020-05-23 12:18] ozanh commented on #280
Hi @maichmueller , if you test new feature with tengo CLI  please check new command line flag `-resolve`. That enables relative imports. From Go, you should call `Script.SetImportDir()` with a path to enable it. If you do all these things and it still does not work, then we have a big problem.
In version 3, this feature will probably be the default behavior. Sorry it is not documented due to time

[2020-05-23 13:14] maichmueller commented on #280
Works fine with the flags. Thanks for the quick fixes and the great work!

[2020-05-23 14:37] ozanh opened #295 "tengolang.com source module support"
It would be good to have support for adding and using tengo source modules in `tengolang.com`.

[2020-05-23 15:23] #289 closed

[2020-05-23 18:30] ozanh commented on #277
Hi, sorry for late reply. Here is a basic example for you
https://play.golang.org/p/Zb8hfBAf-WI

[2020-05-25 13:41] ozanh commented on #265
@d5 could you please re-open this issue again? I will soon complete my spread implementation. I can share benchmark results and some details here before a PR. My spread implementation will cover spread in arrays, maps and function calls like JS.

[2020-05-25 16:47] Kunderao commented on #277
ozanh, no worries. Thank you for your example and your kindness!

[2020-05-25 20:42] ozanh commented on #265
I finally added some tests (vm, compiler, parser tests) to the new implementation and a fibonacci benchmark test to see how it affects function call performance. Tests are successful but there may be edge cases that I haven't tested for. Implementation is very similar to ES6 spread operator with little differences. For now, any expression after ellipsis is accepted within array, map, call expressi

[2020-05-25 23:36] d5 commented on #265
I can take a look if you open a PR for this.

[2020-05-26 14:03] Kunderao opened #296 "Versions"
When importing, what is the difference between the two examples below? If you leave out v2, will it use the latest now .. as in v.2.5.0 etc? Thank you.

	"github.com/d5/tengo/v2"
	"github.com/d5/tengo/v2/stdlib"

and

	"github.com/d5/tengo/"
	"github.com/d5/tengo/stdlib"

[2020-05-26 15:25] ozanh commented on #296
Hi, when you run `go get github.com/d5/tengo` it gets and pins latest version 1 tag which is `1.24.8` for tengo.
If a module has version 2, 3, etc. you need to add `/v2 /v3 etc.` to use correct version.
Please read https://blog.golang.org/using-go-modules

[2020-05-26 15:32] idoall opened #298 "导入文件时错误提示不全"
{"error": "GCT Script: (ACTION) RunCtx [a.tengo]Runtime Error: invalid type for argument 'second' in call to 'user-function:': expected string(compatible), found undefined\n\tat -\n\tat -\n\tat (main):116:18\n\tat (main):129:1", "Line": 212, "FuncName": "CompileAndRun"}

When multiple files are imported, if a method has errors, the related method name and line number are not located

[2020-05-26 15:38] ozanh commented on #298
Can you provide minimal, reproducible source code to identify the bug?

[2020-05-26 15:49] Kunderao commented on #296
I did a go get github.com/d5/tengo and worked fine but
go get github.com/d5/tengo/v2 but met with the following error:

c:\gopath\src
λ go get github.com/d5/tengo/v2
package github.com/d5/tengo/v2: cannot find package "github.com/d5/tengo/v2" in any of:
        c:\go\src\github.com\d5\tengo\v2 (from $GOROOT)
        c:\gopath\src\github.com\d5\tengo\v2 (from $GOPATH)

c:\gopath\src
λ go get github

[2020-05-26 15:55] ozanh commented on #296
What is your go version? Go1.14 works good with modules. Did you run `go mod init` before running `go get ...` in that directory. Try also setting `GO111MODULE=on` env. var.

[2020-05-26 15:57] Kunderao commented on #296
afte doing a c:\gopath\src
λ go mod init
go: creating new go.mod: module .

I seem to be getting what is expected:

c:\gopath\src
λ go get github.com/d5/tengo/v2
go: downloading github.com/d5/tengo/v2 v2.5.0
go: github.com/d5/tengo/v2 upgrade => v2.5.0

[2020-05-26 18:29] Kunderao commented on #296
module .

go 1.14

require (
	github.com/d5/tengo/v2 v2.5.0 // indirect
)

I setup go.mod file with the above content in Intellij and all is good.
Thank you for the introducing me to the "modules" methodology.

[2020-05-27 01:39] idoall commented on #298
a.tengo refers to b.tengo

b.tengo of the params of a func in tengo should be float. This error occurs when you locate the null value.

The actual error is in b.tengo, but the display is in a.tengo

[2020-05-27 22:33] ozanh commented on #298
Hi, you did not give source code, it is not enough to reproduce the problem. So I created an example below and it shows the module/file name and file line+column numbers correctly.
[code]
The error is
[code]
It shows both where error is occured in `at module_a:3:10` and in `at (main):3:2` together. Without source code I cannot help more.

[2020-05-28 01:47] idoall commented on #298
I have too much code. I forgot which line of code after repairing yesterday. Next time it appears, it will post the code

[2020-06-02 14:11] Kunderao opened #300 "Golang Structs"
Can Golang stucts be embedded into the VM along with embedded functions or associated methods?

The following will not covert. Any suggestions?  Thank you.

/ Finalsalary of function type
type Finalsalary func(int, int) int

// Creating structure
type Author struct {
	name      string
	language  string
	Marticles int
	Pay       int

	// Function as a field
	salary Finalsalary
}

func main() {

	re

[2020-06-02 23:38] ozanh opened #301 "keywords as selectors"
I've realized that keywords cannot be used as selectors. Followings are not parsed;
https://tengolang.com/?s=2dbaf9a98cff105d9231209806f40f87ef51c105
[code]

Is it possible to use keywords as selectors by changing the parser? I can try to create a PR for this.
I want to do `console.log.error("this is an error)` or use other keywords as selectors. What do you think @d5 @geseq ?

[2020-06-03 01:14] geseq commented on #301
Good catch @ozanh . I think it’s a good idea to fix this.

[2020-06-03 13:06] ozanh commented on #301
Yes @geseq I think I should create a PR for this. But I will keep parsing map element literal as it is because `{in: true}` this also throws error and should stay like this. What do you think?

[2020-06-03 15:39] geseq commented on #301
Yes I think map element literals should be defined by whatever type they are (in your example a  string so it should be within quotes)

[2020-06-06 16:46] ozanh commented on #301
@d5 if you are OK with using keywords as selectors I will create a PR. Let me know please.

[2020-06-06 16:57] ozanh commented on #300
Hi, Go structs are not supported. You need to convert them to a supported object (maps, arrays, etc.). Struct requires reflection and can be cumbersome. You can wrap your struct in a custom tengo Object and access it within script.

[2020-06-06 18:10] d5 commented on #301
When implementing the first version, I simply followed Go's struct syntax where `struct` field name cannot be a keyword. But I think the problem here is that

[code]

is invalid, but

[code]

is valid in Tengo. So we have 3 options here:

1. allow using keywords as field name, or
2. disallow them in both forms (`a.for` and `a["foo"]`).
3. keyword field name is allowed only via `a["foo"]` form. _(<

[2020-06-06 18:23] #296 closed

[2020-06-06 18:23] ozanh commented on #301
Tengo consistently uses lower cases for keys, function names and underscores in the documentation and somehow it has bitten me while writing `engine.log.error("this is an error)` in my library. If I had used `engine.log.errorln(...)`, I would not have realized that. As I have read all tengo documentation many times, I could catch it but not documented. For Option 1 I created a somewhat hackish bra

[2020-06-06 18:23] #287 closed

[2020-06-06 18:34] d5 commented on #301
Yeah I'd prefer adding some documentation about this limitation (option 3) rather than adding more complexities/overhead in parser/compiler/runtime.

[2020-06-06 18:45] Kunderao commented on #300
" You can wrap your struct in a custom tengo Object and access it within script."

Any example would be appreciated. Thank you.

[2020-06-08 11:20] ozanh commented on #286
@idoall It's been more than a week but my priorities has changed so my next PR will address this issue when I have time, sorry.

[2020-06-08 16:49] Kunderao opened #303 "Arrays or Slices"
Is there any way to get slices or arrays into tengo VM? Preferabbly slices. The following will error out as follows:

Add error: cannot convert to object: []float64
Add error: cannot convert to object: []float64

Thank you.

-------------------------------------------------------------------

	mainSrc := `
	fmt:= import("fmt");
	fmt.println(foo3);
	`

	var myslice = make([]float64, 5)

	var foo3 =

[2020-06-08 17:16] ozanh commented on #303
You can use `FromInterface` function which converts many types to tengo Objects or check the implementation from the source code and build your own, it is not difficult. You cannot convert Go arrays to tengo arrays, use slices instead. Do not expect your Go slices are updated automatically when they are updated in scripts. You should copy values from tengo Object to your target slice if required a

[2020-06-09 01:54] idoall commented on #286
OK, thank you. Please

[2020-06-11 08:20] wenbingzhang opened #304 "Script function accessing by Go"
I don't know how to achieve

[2020-06-11 12:34] arctica opened #305 "Missing stacktrace information on panics in imported files"
One bigger problem I have now that my tengo scripts are growing in size is that many times the stacktrace from a runtime error seems to be missing file and line info from the most recent frames.

I believe this happens only when the code causing a panic is in imported modules, possibly depth > 1 e.g. imported module in imported module.
The stacktrace info looks like this:

[code]

In this case, th

[2020-06-11 13:37] arctica opened #306 "Object References"
As far as I can tell, it is currently not possible to get a reference to an object in Tengo. A tengo.Object has the Value as a concrete type and functions are passed tengo.Object and not pointers to it. In other words arguments are always passed by value and therefor copied.

References can be useful in many cases. My usecase is the handling of multiple return values of functions. Currently Tengo

[2020-06-12 02:05] wenbingzhang commented on #304
github.com/ozanh/tengox

[2020-06-12 02:05] #304 closed

[2020-06-12 17:39] ozanh commented on #305
I tested tengo CLI to reproduce your problem but no luck, stack trace is correct. Could you please share some (minimal) code to reproduce the problem again and debug it?
[code]
[code]

[2020-06-12 20:22] arctica commented on #305
Hi @ozanh

I've come up with a minimal example to reproduce:

1. make a test.tengo with the following content:

[code]

Run it in the app via NewScript() or I guess from the cli you need to make another .tengo file first that imports test.tengo and calls the returned function.

[code]

I noticed that the stacktraces are missing when the declared variable x is outside the exported function. If it i

[2020-06-13 10:31] ozanh commented on #305
I think I found the root cause, not the solution yet. It is about closures. Module import is not very different than a creating a function with a closure, though. When there is an error with free variable (calling undefined, in this example), source code position cannot be determined because variable belongs to a different frame. Am I on the right track @d5 ?
[code]
[code]

[2020-06-13 22:10] ozanh commented on #301
@

[2020-06-13 22:10] #301 closed

[2020-06-13 22:11] #265 closed

[2020-06-15 10:48] leaanthony opened #307 "Hot Reloading?"
Any plans for hot reloading?

[2020-06-29 14:49] skaldesh commented on #300
See the [docs](https://github.com/d5/tengo/blob/master/docs/objects.md)

[2020-07-01 04:06] freman opened #308 "Expose token parsing"
token.Lookup("==") returns Ident

Ideally It'd return Equal

[2020-07-06 10:56] skaldesh opened #309 "Any way to know when a var goes out of scope?"
Is there a way to know whether a variable defined in tengo goes out of scope on the go side?

I have my go struct that implements `tengo.Object`. The struct also has C memory associated to it (huge amounts), but the go struct itself is very small. Now, if the object is no longer needed in tengo and goes out of scope, I would like to clean up the C memory as well. Relying on `runtime.SetFinalizer()

[2020-08-11 14:14] leonxiong516 opened #311 "about call stack bug"
have two tengo file

m.tengo
[code]
main.tengo
[code]

./tengo main.tengo
Runtime Error: invalid index type
        at -
        at main.tengo:3:1

missing m.tengo stack

if m.tengo don't call fmt.println("") will be normal
Runtime Error: invalid index type
        at /mnt/hgfs/data/tengo/m.tengo:6:2
        at main.tengo:3:1

[2020-08-14 08:55] novuscy opened #312 "Use variable as key name when building a map literal"
Hello, I have a script like this:
[code]
the output is `{k: "someValue"}`, but the result I wish for is `{someKey: "someValue"}`, Is there a syntax that I can make a map literal with variable as key name? just like in JavaScript:
[code]

Thanks.

[2020-08-17 07:52] geseq commented on #312
You can do this:

[code]

[2020-08-17 09:53] novuscy commented on #312
Thanks for your reply.

Yeah, that is the way I used, but it's not very convenient for some deeply nested object, I wonder if there's a more convenient way to achieve that?

[2020-09-07 22:43] moisespsena opened #313 "Call compiled function from go return empty"
Hello!
When call compiled function from go return empty.

[code]

[2020-09-09 09:49] ganehag opened #314 "Function re-assignment in another function causes SIGSEGV in Tengo VM"
The following Tengo code:

[code]

While completely bonkers (re-assigning a function), produces a SIGSEGV, which should not happen.

[code]

I stumbled upon this by happenstance as a result of a typo in my code.

[2020-09-09 13:47] mccolljr commented on #314
Just to clarify, is the body of `func2` supposed to be `func1 := func1(1,2)`? Looks like maybe a copy-paste error

[2020-09-09 14:02] ganehag commented on #314
Yes, my mistake when I changed it before posting. Both; `test := test(1,2)` and `func1 := func1(1,2)` will cause a SIGSEGV.

[2020-09-11 13:30] JeffreyShran opened #315 "exec.command usage"
Hello,

How exactly should one correctly call an external program using Tego?

I tried to replicate the exec.command example here: https://github.com/d5/tengo/blob/master/docs/stdlib-os.md#processstate

[code]

Running it returns `Compile Error: unresolved reference 'exec'`. I checked the Tengo code and as far as I can tell `exec` is a sub-function of `os`?

I also tried `proc := start_process("ls

[2020-09-13 16:36] ozanh commented on #314
Hi, it can be fixed by moving symbol table name resolution after right hand side expression compilation and small symbol table changes. If @d5 accepts I can create a PR to fix it.

[2020-09-13 16:42] d5 commented on #314
yes please

[2020-09-13 17:42] ozanh commented on #314
It seems a little tricky. Moving `c.symbolTable.Resolve(ident)` below the right hand side (RHS) compilation is more idiomatic but this time following code does not work (unresolved reference);
[code]
This must be rewritten as below to make it work.
[code]
I have revised all failed tests due to this resolution error in 5 minutes BUT this is a language change.
OR;
We can check the error returned fro

[2020-09-13 18:59] geseq commented on #314
It makes sense that the first example would return unresolved reference, doesn’t it?

[2020-09-13 20:06] d5 commented on #314
Wow. All 3 main contributors are commenting on this. I will take a look at this as well!

[2020-09-13 20:58] d5 commented on #314
It looks like the issue here is the symbol resolution of local variables that are not assigned.

This code

[code]

compiles to:

[code]

And

[code]

compiles to

[code]

In both scenario, symbol `fn` in the right-hand side of `fn := fn()` (inside the function) should be a compile error _(the first code; unresolved reference)_ or should refer to a global variable `fn` _(the second code)_. But ins

[2020-09-13 23:15] d5 commented on #314
See https://github.com/d5/tengo/pull/316 and let me know what you guys think.

[2020-09-14 02:33] #314 closed

[2020-09-14 16:42] ozanh opened #317 "Symbol Table and Closure"
Hi,

I encountered following behavior at v2.6
[code]
Output
[code]
Expected
[code]
Symbol table is forked before If statement and symbols next index is reset to the state before forking after If statement finished in compiler, because of that variable `a` and variable  `b` has same symbol index and captured variable in `f` refers to wrong variable. What do you think?

[2020-09-14 16:48] d5 commented on #317
Yeah, we should fix this. Feel free to open a PR if you have a fix. Thanks.

[2020-09-14 16:57] ozanh commented on #317
My quick solution is like this with my custom Tengo implementation in Compiler;
[code]
This. wastes variables defined in blocks but safer. I haven't found a better idea yet. If this fix is OK, I can issue a PR later.

[2020-09-15 06:31] dulumao commented on #146
need JetBrains IDE (Goland) Syntax highlighter

[2020-09-17 16:42] d5 commented on #317
If I understand this correctly, this is an issue with global symbols, right? `a` gets index of `2` inside `if` block. Then `b` also gets index of `2` outside `if` block.

[2020-09-17 18:23] ozanh commented on #317
Yes, they share the same index and `OpGetLocalPtr` points to same stack array index and this becomes a problem.
In my custom Tengo implementation, I have changed what I posted earlier. Now I am testing it and not 100% sure but it looks it is working perfectly.
Let me summarize what I have done;
- I track each `Free` symbol  by keeping a link between original and free symbol.
- I skip the symbol in

[2020-09-17 18:30] d5 commented on #317
Hmm. I think a cleaner solution could be making `a` a local symbol. `a` is not supposed to be accessible outside `if` block anyway, right?

[2020-09-17 18:36] ozanh commented on #317
`a` is a block variable and must be invisibe in outer scopes. This bug affects both local and global variables whether `if block` is in a compiled function. Other problem is local variables referenced as a free variable in functions can point to a stack index which is not used anymore after function return.

[2020-09-17 18:57] d5 commented on #317
Can you give me an example code with local variables?

[2020-09-17 21:35] d5 commented on #317
https://github.com/d5/tengo/pull/318 @ozanh

[2020-09-17 23:05] ozanh commented on #317
I didn't test the code but it looks like it fixes this problem. Quick fix thanks :+1:
I realized that the other issue I mentioned is not related with Tengo, it is my mistake because it is related with my implementation sorry about that, I don't use pointers as objects because of that free variables point to the variables on locals array and I changed lots of things :worried:

[2020-09-18 00:15] #317 closed

[2020-09-24 17:54] phenrigomes opened #319 "Is tengo safe for external scripts?"
I need to execute the possibly untrusted scripts sent by users and I would like knowing if Tengo could be used for that.

[2020-09-24 18:05] geseq commented on #319
If they’re untrusted and you aren’t running tengo in some sort of secured sandbox, I wouldn’t recommend it (not just with tengo mind you, but with any language)

[2020-09-24 18:10] d5 commented on #319
Hard to guarantee anything without knowing what kind of untrusted code you want to run, but, Tengo is "relatively" more secure because the script is compiled into bytecode and run in a VM (whereas other runtime interpreter might expose more vulnerabilities). Also you can control which packages you want to allow for the user script. And, there's no easy way to set the maximum memory usage, but, you

[2020-09-24 18:18] phenrigomes commented on #319
Thanks guys for the answers. The feature is to run code from users like Salesforce after record events, such as save/update/delete/checkout/... One way to add triggers.

[2020-09-24 18:20] d5 commented on #319
If you're going to write your own packages (to interact with external services for example), I think Tengo is fairly safe to run the user code. See https://github.com/d5/tengo/blob/master/docs/interoperability.md#sandbox-environments.

[2020-09-24 20:46] phenrigomes commented on #319
Great! I understood that I can create a minimum environment for the user with controlled functions to access external or internal (db queries by id, ...) resources in a safe way.

[2020-09-24 22:29] ozanh commented on #319
Hi @phenrigomes , I'd like to add a few of my experiences. I hope it helps.
* Always run with context having a timeout.
* Do good cleanup, there is no exception handler.
* Do not share your compiled scripts between gorouties.
* Check built-in module implementations if you expose them, e.g. do not give access to `os` or `times.sleep()`.
* Do not rely on allocation limits as mentioned before,  e.g.

[2020-09-24 22:41] d5 commented on #319
Haha. That's a good one.

There's no easy way to control/limit memory allocations in Go in general.

[2020-10-31 07:06] DawDavis commented on #313
@moisespsena ,
Your usecase mixes builtin and compiled functions in a way that Tengo does not support. You can't Call into a compiled function directly.

Call is not usable on a compiled function, but unfortunately does not return an "unimplemented" error.
There are two solutions right now, one for this revision:

*  I think that in order to make this more apparent,```CompiledFunction.Call(args...

[2020-11-13 11:37] zjyfdu opened #321 "how to get function's name"
[code]

int `fib` function, how can I get the fuction name of `a`, which is string `"a"`

[2020-11-17 22:21] moisespsena commented on #313
@DawDavis ,
I have implemented a branch "[vm_context](https://github.com/moisespsena/tengo/tree/vm_context)" based on [tengox](https://github.com/ozanh/tengox) with the definition of objects based on maps and reflection. I did it to be able to use it in my personal projects.

[See to call tengo function com go](https://github.com/moisespsena/tengo/blob/vm_context/docs/objects.md#calling-tengo-func

[2020-12-10 11:58] diyism commented on #107
Indeed, an HTTP client is the first need for developer, while an HTTP server is the second need.

For example there is algernon web server(https://github.com/xyproto/algernon), its script language is gopher-lua.
Since tengo is faster than gopher-lua, and tengo language/syntax is similar to go,
if there's  a Web server that can support tengo script language, it will be very  attractive.

[2020-12-10 17:31] r0l1 commented on #309
@d5 could you give us a hint? :)

[2020-12-10 17:35] d5 commented on #309
Hmm. Well Tengo is running on the same Go runtime. I cannot think of any good solutions to this.

[2020-12-17 12:30] r0l1 commented on #309
@d5 thanks for the info!

[2020-12-17 17:20] Noofbiz commented on #309
As long as it’s not zero bytes ‘runtime.SetFinalizer’ should run, you’ll just have to cleanup the C stuff manually there.

[2020-12-18 09:55] r0l1 commented on #309
@Noofbiz the problem with finalizers is, that the Go GC does not track any C memory. If little Go memory is used, then the GC won't run, no finalizers are triggered and the systems might run out-of-memory. That's why we defer free our memory pointers. If tengo supports "scopes", then this could help.

[2020-12-22 04:21] siff-duke opened #322 "how to return from the script (not function)"
How do you exit the script?

[code]

I get the following error

``Compile Error: return not allowed outside function``

[2020-12-22 04:25] geseq commented on #322
You can use os.exit function from the standard library https://github.com/d5/tengo/blob/master/docs/stdlib-os.md#functions

[2020-12-22 04:27] siff-duke commented on #322
unfortunately, the scripts are user defined and we dont want to include the os library (security, etc).

I would be nice if it would allow it.

[2020-12-22 04:32] siff-duke opened #323 "allow len(str) to return 0 where str is undefined"
it would be nice if len(str) would return 0 where the str is undefined.

[2020-12-22 11:08] ozanh commented on #322
Hi @siff-duke
I had same requirement before, as a workaround I used runtime errors.

Example:
[code]

[2020-12-22 18:00] d5 commented on #322
Maybe we should just add a new intrinsic function (e.g. `exit`).

[2020-12-22 18:18] siff-duke commented on #322
my preference would be ``return`` but exit works.

[2020-12-22 18:22] siff-duke commented on #319
It would be good if time.sleep() is in in the ``os`` module. I'm not importing the ``os`` module but need the ``times`` module for parsing and time calcs.

[2020-12-22 22:35] konethmelathil opened #324 "Arrays and Slices through FromInterface"
I could not get the following arrays for slices to convert and be seen in tengo. Any suggestions?

Thank you

[code]

[2020-12-23 04:49] geseq commented on #324
Convert your slices to `[]interface{}` before passing them on to `FromInterface()`

[2020-12-27 18:05] wader opened #325 "Object Types documentation example out of date?"
Hello! I'm reading https://github.com/d5/tengo/blob/master/docs/objects.md and tried the `StringArray` example but could not get it working without some changes. Not sure it the example is out of date or of I'm doing something wrong.

Without these changes I get `Runtime Error: invalid operation: string-array + string`.

Things I changed:
* Added `s.SetImports(stdlib.GetModuleMap("fmt"))`/`fmt :=

[2021-01-11 18:00] endink opened #326 "please support range syntax"
array define : [1,2,3,4,5]
range define: [1..5]

This syntax is useful in an inline environment to effectively shorten script lengths.

Some language support it like kotlin, groovy...etc

[2021-01-16 20:27] Esgorhannoth opened #327 "[Question] Custom module"
Suppose I have an app that I want to be scriptable with `tengo`. I guess I have to make app's Go functions available to `tengo` via a custom module. I've seen the source of `AddBuiltinModule` and `AddSourceModule`, but I do not understand how to add a custom module. This is what I've done:

[code]

`buzz.go` contains my custom module for `main.go`

main.go:
[code]

mylib/buzz.go:
[code]

[code]

A

[2021-01-16 20:48] d5 commented on #327
Try `BuiltinModule` instead:

[code]

[2021-01-16 21:44] Esgorhannoth commented on #327
Thanks, that works just fine :)

[2021-01-16 21:44] #327 closed

[2021-02-10 08:19] geseq commented on #326
This is actually not a bad idea. @d5 any thoughts on this? I wouldn't mind making some time for this.

[2021-02-10 08:27] d5 commented on #326
Sure. Can we discuss more details on the syntax first?

[2021-02-10 08:34] geseq commented on #326
Just looking up how this is done in other languages now but from a cursory overview I’m leaning towards the python style `range` builtin function rather than changing the array syntax.

[2021-02-10 08:35] d5 commented on #326
Haha. Yeah I like that!

[2021-02-10 08:36] d5 commented on #326
So the new builtin function will return an array of ints?

[2021-02-10 08:40] geseq commented on #326
Yes, an array of ints from 0 to a `n-1` If one argument is provided, `start` to `end-1` with two args, or `start` to `end-1` with `step` Increment with three args

[2021-02-10 12:26] endink commented on #326
I think if it's just a built-in, function, and we already have enough APIs to implement it ourselves, the built-in bracket syntax support would be much easier to read for line expression scenarios

[2021-02-10 12:35] geseq commented on #326
I’m not sure I agree that brackets add something to expressiveness that a builtin `range` function doesn’t.

It’s also IMO an unnecessary addition to the syntax which I’d rather leave as is unless there’s a really good reason to change it.

Additionally, the bracket syntax is limited. It doesn’t easily allow you to add a step size.

[2021-02-10 12:53] endink commented on #326
I use Tengo in a database sharding proxy project, it allows me to simplify some definitions, such as database node definitions: DS_1, DS_2, DS_3. If I have this syntax I can say DS_{[1..3]}, this makes the configuration file simple and easy to read. If it's a function: DS_{rang(1,3)}, I don't think it's as clear so.

In my project, the more complex
inline expression:
ds_{[1..9]}.table_{[1..5]}

Th

[2021-02-10 13:06] endink commented on #326
BTW: Because missing this syntax, I implemented a "range" function on my project, and this issue comes from a feeling that the configuration file is ugly.

[2021-02-10 13:27] geseq commented on #326
I suppose we can achieve something like that with `[start:step:end]` and `[start:end]` syntax but I’m not convinced of the need for it. While your example expression does not look pretty it is readable. I’m reluctant to change the language syntax to make this pretty.

@d5 thoughts?

[2021-02-10 18:34] d5 commented on #326
Yeah I agree with @geseq. It's a nice-to-have feature and not worth all the extra efforts.

[2021-02-10 18:57] geseq commented on #326
In that case @endink would you be willing to create a PR with your implementation of the range function? If not I’ll work on implementing it.

[2021-02-11 00:54] endink commented on #326
@geseq Alright, these days are the China New Years. If need, I can provide this PR after this holiday .

[2021-02-23 19:02] geseq commented on #326
@endink any luck with the PR? If you prefer I can work on this as well.

[2021-02-24 01:44] endink commented on #326
@geseq The Chinese New Year ends on February 27th, wait two days for me to do it or you do it. I'm fine with it anyway.You decide

[2021-02-24 03:33] geseq commented on #326
Oh no worries! I didn’t know that. Take your time.

[2021-03-02 04:23] endink commented on #326
@geseq Pr has been commited, and the specific usage can be seen in unit tests

[2021-04-03 10:04] kiamlaluno commented on #325
`(o *StringArray) BinaryOp` doesn't allow to add a string to `StringArray`, while the example script does exactly that with `my_list + "three"`. The code used for `(o *StringArray) BinaryOp` would allow a script to execute `my_list + my_list` only. That's the issue: The `StringArray` implementation doesn't match the example given for using it in a script.

I would rather change the `(o *StringArra

[2021-04-20 11:17] beanhacker opened #331 "will you consider to add serial && net as internal?"
As more embled programming must use serial to run download or send AT cmd, it's very useful for us.another need is that net module is important for us to develop tcp utp http or webrtc libs for tengo.then i think tengo will be stronger than python in the world in future, thanks!

[2021-04-21 13:25] arttobe commented on #146
Something new for goland?

[2021-05-08 10:08] damiva opened #332 "QUESTION: file extension for Tengo script"
I would like to use Tengo for plugins scripting for my project.
Have you decided about file extension for Tengo script?
If no, i have tow suggestions:
**.tng** - consonant letters from **T**E**NG**O
**.xgo** - **X** is roman ten + **GO** (also it hints to GO lang)

Additionaly I would like to use IMPORT from files, BUT: can I restrict the use of files only within the selected directory?

[2021-05-08 10:16] geseq commented on #332
Tengo uses `.tengo` as the file extension for the files. It's descriptive and clear and I think better than 3 letter extensions that are hard to keep track of.

[2021-05-08 10:19] damiva commented on #332
thanks

[2021-05-08 10:19] #332 closed

[2021-05-10 10:44] damiva opened #333 "additional builtin libs"
I would like to use tengo for my plroject (http server) as plugin lang.
I am writing few additional builtin modules:
- httpserver - some request info and rsponse functions (from go http server)
- httpclient - some get, post, etc functions
- url - for working with urls (some functionality of go's net/url)

Are they already realised by somebody?
If no, I can share it when done, tell me how.

[2021-05-18 16:19] afzalabbasi opened #334 "Compare String"
hey Every one
Is there any way to compare the string using tengo ?

[2021-05-18 19:17] d5 commented on #334
You mean `"abc" == "abc"`?

[2021-05-18 20:11] afzalabbasi commented on #334
@d5 yes if the script input is abc and the variables thats we are added using script.add like script.add(a) and so on how i compare input value of script and the variables

[2021-05-19 06:35] geseq commented on #334
script.add() defines a variable named after the first argument. Use `==` to compare that variables with any others.

[2021-05-19 10:52] afzalabbasi commented on #334
@d5 i have this type of code
script := tengo.NewScript([]byte("have_fever==true&&have_cough==true"))
script.Add("have_fever","true")
script.Add("have_cough","true")
now can you please help me how i compare the script value and the variables that i was added
Thanks

[2021-05-21 12:59] geseq commented on #334
`have_fever == have_cough`

[2021-05-21 13:00] geseq commented on #334
Not entirely sure what you’re doing there though. Are you trying to use true as a string or bool?

[2021-05-24 09:57] jvegaseg opened #335 "Go Routines within Tengo"
Hello, first of all, congratulations for Tengo, it is a great work!!!

I am trying to evaluate if Tengo could reach my needs and I need an answer to this question:

Is there a way to launch go routines within Tengo?

What I need is:

1.- Within a Tengo function, call a function in GO in order to make some HTTP requests and returning the results to Tengo and execute a Tengo function in order to pro

[2021-05-24 10:08] #326 closed

[2021-05-24 10:09] geseq commented on #335
No, I don't think you can do this. @d5 ?

[2021-05-24 10:09] geseq commented on #333
yes, please feel free to share them

[2021-05-24 13:16] #334 closed

[2021-05-24 17:12] matszpk opened #336 "Some type of variables are not safely copied by Script.Clone."
My experiments with Script.Clone method give unexpected results. After cloning Compiled object, the global map and arrays values has been copied to origin Compiled object. Your code doesn't make new copy array values and map values, just simply copy globals array and your code of Clone doesn't make safe copy of Compiled object. Global mutable maps and arrays should be copied deeply to make safe-co

[2021-05-30 23:03] pedroalbanese commented on #315
Greetings!

I was just looking for examples from Tengo. Your code is perfect. Exchange exec.Command for os.exec:

<pre>
cat > myapp.tengo << EOF
#!/usr/local/bin/tengo
fmt := import("fmt")
os := import("os")
cmd := os.exec("figlet", "test")
output := cmd.output()
fmt.println(output)
EOF
</pre>

Tell me if it worked.

[2021-06-01 09:34] #333 closed

[2021-06-01 09:34] damiva commented on #333
ok

[2021-07-16 16:27] TheMightyGit opened #339 "Q: How to use tengo in a gameloop where Update() is called 60 times a second?"
Hi, I'm trying to work out if my gameloop use-case is possible with Tengo and would like some advice.

I need to call into tengo code 60 times a second, persisting any state between calls. Kind of like a very fast REPL.

From what I've seen of Tengo you generally call `Run()` and let it run to completion. The REPL seems to be the exception, but it does a lot of work to keep state between lines (I

[2021-07-16 16:41] d5 commented on #339
Maybe you want to look at [Compiled](https://pkg.go.dev/github.com/d5/tengo/v2#Compiled). You can compile the script code once ([Script.Compile](https://pkg.go.dev/github.com/d5/tengo/v2#Script.Compile)) and use `Compiled` instance to run it multiple times. Between runs, you can access global variables using its Get and Set methods.

If that doesn't work for your use case, you can consider managin

[2021-07-16 16:54] TheMightyGit commented on #339
I think for what I need the game logic script would have to run 'forever' and I'd have to sync it to the framerate with a blocking call into go code. Something like...

[code]

[2021-07-17 12:45] TheMightyGit commented on #339
@d5 Rather than ask abstract questions I've written a skeleton for a game loop. If you've got time could you tell me if you see any obvious problem with using Tengo this way? ('this way' being running the tengo script infinitely and blocking on the next frame. Also the way I've used tengo modules to simulate classes of sorts, is this poor form for tengo?)

<img width="752" alt="Screenshot 2021-07-

[2021-07-17 17:23] d5 commented on #339
I don't know about the module function implementations, but structure-wise, they look good to me. Once the script is compiled into bytecode, it's just a VM code loop that runs the bytecode in the same Go runtime.

Btw, I used to be a game-dev myself for a while, and this is really interesting.

[2021-08-20 02:54] AlbinoGeek opened #342 "Things like `fmt.println()` escape sandbox"
Since there's no captured `stdout`, `stdin` or related -- `fmt.println()` and friends can be seen "escaping the sandbox" so to say.

Maybe I missed something?

## Golang Source

[code]

#273 is very related.

---

Unfortunately I am running these in parallel, so I can't easily hijack the owning stdout/stdin for scripts.

[2021-08-20 02:58] AlbinoGeek commented on #342
If no one else is working on this particular issue, I could fork and update stdlib.fmt to use buffers/writers instead of real system handles.

[2021-08-20 05:00] geseq commented on #342
Please feel free to work on it.

[2021-08-23 06:03] AlbinoGeek commented on #342
:) Got this working on my end fairly easily, currently working on sandboxing other libraries; I wonder however:

Would it be preferable these were alternatives to stdlib instead? (e.g.: alternate import)

The performance of writing to a pipe in memory v.s. actual stdout varies wildly depending on your use-case, for sure -- but other libraries are not so cut-and-dry as to the implication(s) of sand

[2021-08-23 06:04] AlbinoGeek opened #343 "What if I wanted to pause execution?"
Hello!

So, I'm fully prepared to have to code this one myself, I just need to know where I'd be starting!

How would I go about adding a means of pausing execution within the engine itself?

Simple implementations could even be the a copy of `RunContext` called `RunUntilContext` which used the Deadline/Timeout as the pause trigger, where subsequent calls would have the engine continue executing t

[2021-08-23 06:09] geseq commented on #343
This loop iterates through every instruction so it’s where I’d start looking:
https://github.com/d5/tengo/blob/ac805806f801b985fd1a9ac1f9245a8890f2281e/vm.go#L98

I’m addition to aborting check there could also be a pause check.

Caveat: Because this is called on every instruction adding any more checks here will reduce runtime performance of tengo, so it needs to be thought through carefully.

[2021-08-23 06:11] geseq commented on #342
Might be a good idea to make them alternatives then. @d5 thoughts?

[2021-08-23 06:12] AlbinoGeek commented on #343
Wonderful, thank you! Adding one more atomic check shouldn't harm the execution time much for my requirement (in the scale of my requirement**) -- one last thing, do you know how this change (at or around that line of code) might change multiple scripts running in parallel (does each script get its own engine, or will making this change effect all scripts?)

** Noob question I know, just not famil

[2021-08-23 06:16] geseq commented on #343
every script has its own state so it shouldn’t affect another script.

[2021-08-23 06:20] d5 commented on #342
Yes. Please create a new module. It's better for backward compatibility, and it gives more options to people with different requirements.

[2021-08-24 20:48] AlbinoGeek commented on #343
Almost have a concept working... will close this when I do (might have a PR too.)

[2021-09-02 07:22] ganehag opened #344 "Unrecoverable panic from VM when using (c *Compiled) RunContext"
I recently had a `panic: runtime error: integer divide by zero` thrown by `github.com/d5/tengo/v2.(*Compiled).RunContext`. My immediate thought was to safeguard my code with a proper recovery clause in a defer statement. Which I did, only to discover that the issue persisted.

Upon investigating the code in `github.com/d5/tengo/v2/script.go:221`, I realised that a Go function inside RunContext exe

[2021-09-02 15:31] d5 commented on #344
Not entirely sure what you expect, but if your solution is to recover at `Compiled.Run`, you should be able to achieve the same goal with defer with recover inside the function that calls `Compiled.Run`. Also if your code throws `divide by zero`, you should fix that one first no matter what.

[2021-09-02 15:46] ganehag commented on #344
I am talking about `(c *Compiled).RunContext` and not `(*Compiled).Run`. It differs from RunContext in that it can easily be managed by doing an ordinary "defer and recover" in the function from which I execute `(c *Compiled).Run`. But  `(c *Compiled).RunContext` has an internal go routine to execute the VM in the background as a way to be able to handle the Context event. When any panic is caused

[2021-09-02 15:50] d5 commented on #344
Sorry I misread your question. My bad. And yes I think your solution looks good. Feel free to open a PR. I will take a look.

[2021-09-02 15:53] ganehag commented on #344
Yes, will do.

[2021-09-03 09:36] wdvxdr1123 commented on #196
I have a idea that implementing `for-in` using a Iterator Stack. It allows us only type assert to `Iterator` in `OpIteratorInit` and remove the hidden value`:it`.

[2021-11-06 05:01] bfreis opened #348 "Dynamically generated code for import"
Hi!

While using `tengo` embedded into some code, I wanted to make it possible to dynamically provide source code for imports, without having to import files from disk. Specifically, the import names I want to use do not map to files on disk, and are unknown before compiling a script (so I couldn't even somehow pre-generate them anywhere).

I couldn't find any easy way to do it, just a very ugly h

[2021-11-07 00:34] #348 closed

[2021-11-10 13:45] KEINOS commented on #286
I would like to PR this issue if I may.

My idea is to implement `tengo.Compiler.SetImportExt(extension string)` method.
This method will set an extra custom extension to search. This will take effect only if `allowFileImport` is `true`.

[code]

[2021-11-13 23:18] #344 closed

[2021-11-13 23:22] #324 closed

[2021-11-13 23:24] #286 closed

[2021-11-13 23:26] #196 closed

[2021-11-18 15:34] tdewolff commented on #275
Any advance on this issue? Would love to be able to execute Tengo functions from Go.

[2021-11-19 02:27] gnodux opened #351 "how to dynamic import script from url"
like this:
[code]

or How can I custom my `ModuleMap`

[2021-11-19 02:55] gnodux commented on #351
Found ModuleGetter support in v 2.10
thx

[2021-11-19 02:55] #351 closed

[2021-11-27 03:39] abck opened #352 "stdlib.fmt.println not behaving like fmt.Println"
Hello,

just want to ask if the behavior of stdlib.fmt.println is correct.

I was expecting it to behave like the go's fmt.Println.

Minimal example:
[code]

Output:
[code]
1st line is the output of tengo's fmt.println
2nd line is the output of go's fmt.Println

If this is not intended, it can be fixed by changing fmtPrintln in stdlib/fmt.go to
[code]

[2021-12-07 07:46] dwdcth opened #353 "how to destory tengo script"
how to destory tengo engine after run the script

[2021-12-13 14:07] macheal opened #354 "bug: for string,endless loop"
start:="1"
end:="10"
for i:=start;i<end;i++{
    println(i)
}

------
1
11
111
1111
11111
111111

[2022-01-08 15:41] damiva opened #357 "FYI: simple http-server module"
I wrote a simple HTTP server module:

- please see it at: https://github.com/damiva/TengoHTTP
- I use it in my project: https://github.com/damiva/ServeMSX

[2022-01-15 14:13] KEINOS opened #358 "Discrepancy between "enum" package documentation and its behavior"
I would like to PR this issue, but I wanted to ask which I should do between:
  1. Modify the documentation to match the behavior of the script.
  2. Modify the script as written in the document.

## TL; DR

- The [`filter` function of the `enum` module](https://github.com/d5/tengo/blob/4846cf524306f9dc064f94c0283e72923e756b41/stdlib/srcmod_enum.tengo#L74-L87) does not work as described in the [do

[2022-01-22 13:06] misiek08 commented on #358
Do you want it to return filtered map, array of values or array of tuples? I think @d5 should decide, in JS there is no `filter` for `map`/`Object` type :)

Script:
[code]
# Possible results
## 1. Filtered map (order unstable, but for k-v doesn't matter)
[code]

## 2. Array of values
This one is unstable (order of values can vary between runs)
[code]

## 3. Array of tuples (array of arrays for thi

[2022-01-22 13:12] misiek08 commented on #352
@d5 will you accept such patch?

[2022-01-22 18:05] d5 commented on #358
I think we should just update the documentation to match the code behavior.

[2022-01-22 18:09] d5 commented on #352
This is the current code:

[code]

Honestly, I don't remember why I specifically used `fmt.Print`. It's been a while. @geseq any ideas?

[2022-01-22 19:21] geseq commented on #352
Tbh I can’t recall either but looking at the code the only reason I can think of is to avoid printing spaces between the operands.

that said, I would be happy for this to behave like standard library.

[2022-01-22 23:45] misiek08 commented on #358
Yeah, that is 4th option :D
I thought about generic helper (to handle map gracefully), but anyone can just implement this filter very easy.

[2022-01-23 00:11] misiek08 commented on #353
Just don't keep reference and let GC clean it up?

[2022-02-05 13:42] iFrozenPhoenix opened #360 "Self references to fields within maps"
Currently it is not possible to reference a field within a map to another field within the same map, it leads to a nil pointer reference.
Example:
[code]

I think it would make sense to support self references within maps as this would enable many use cases as a configuration language.
I've seen a pull request for self references but unfortunately I cannot find it anymore.

In my opinion it would

[2022-02-05 13:46] geseq commented on #360
I don’t agree with this. Right now we have a clear model of variable definition and assignment and a feature like this would blur the lines and complicate it possibly leading to edge cases that would add significant maintenance overhead.

[2022-02-05 14:42] iFrozenPhoenix commented on #360
I am only talking about referencing a field of a map within the same map, so the overall effect should be limited to a map field. For sure, new features, in most cases, lead possibly to more complications because there are more variables. But this would be an optional feature, i.e. if you don't use the keyword that references to the map itself, the behavior is like at the moment.

This feature cou

[2022-02-05 14:50] geseq commented on #360
Feel free to create a PR if you can manage one in a way that doesn’t add excessive maintenance cost.

[2022-02-05 15:01] iFrozenPhoenix commented on #360
@geseq thanks.
Would you prefer $ or self.
Could you eventually point me to the relevant files?

[2022-02-05 15:07] geseq commented on #360
Tbh I’m not sure about either. Is your use of $ coming from another language? I think it’s also good to get thoughts from @d5 on his opinion about this as well.

[2022-02-05 15:15] geseq commented on #360
Also to be entirely clear I don’t think this is achievable in as simple a way as you envision it to be and I wouldn’t be amenable to merging something that makes major changes that I think it’ll take.

That said you should look in the parser, specifically `scanner.go` and follow the scanning for `Define` token

[2022-02-05 15:24] geseq commented on #360
On second thought maybe you can bypass the parser entirely and do it from https://github.com/d5/tengo/blob/1bcc1892c8d956709a3c9ab8931696a04cf94e1a/vm.go#L293

[2022-02-05 15:27] iFrozenPhoenix commented on #360
I'll take a look at the two entry points.

[2022-02-05 16:10] d5 commented on #360
Hi @iFrozenPhoenix.

We can certainly look into this if you open a PR. But, please understand that we may not accept it if it would involve a significant maintenance cost like @geseq said. Tengo has been very stable (for a 2-person maintained open source project) and fast, and we want to keep it that way if possible.

That being said, last time we looked into this, one particular challenge I remem

[2022-02-05 16:33] iFrozenPhoenix commented on #360
You have valid arguments. I think the simplest way would be to just copy the values, i.e. that references are not considered as generally in tengo lang.

That means in your first example apple has still the value of testmap.spec if one of the previous values alre deleted or mutated.
In my opinion to also introduce unmutatable refrences would really overcomplicate the things.

I.e. the reference sh

[2022-02-07 06:53] #358 closed

[2022-02-07 08:12] iFrozenPhoenix commented on #360
@d5 @geseq I have made initial progress on this. But it is not that easy as I've thought...

In scanner it is hard to access the complete structure in an easy way. In vm it is too late as the compiler already has thrown a unresolvable reference.

https://github.com/iFrozenPhoenix/tengo/blob/3dd4cce41bbd6a97ee17cd3ce8718f20fc2177c1/parser/parser.go#L1067
https://github.com/iFrozenPhoenix/tengo/blob

[2022-02-07 08:52] iFrozenPhoenix opened #362 "Language server support"
Currently there is limited coding / scripting support in code editors like vscode and others.
The current support is limited to syntax highlighting via an extension.

https://github.com/d5/tengo/issues/146

Most modern languages implement a language server via language server protocol which enables code editors to receive information about the code like symbols, help text, code completion suggesti

[2022-02-07 12:25] qzb opened #363 "All ints are parsed in base 10"
Octal and hexadecimal numbers are partially supported (by scanner), but always parsed in base 10.

#### Expected:

[code]

#### Actual:

[code]

[2022-02-07 12:50] qzb opened #365 "Missing user function name in some error messages"
When user function defined in module returns `ErrWrongNumArguments` or `ErrInvalidArgumentType`, error message doesn't include name of the function.

#### Example

[code]

[2022-02-08 02:39] polarweasel opened #367 "SSL cert for api.tengolang.com is revoked, playground not working"
The playground isn't working for me (macOS 12.2, Safari current version, Chrome current version), and I believe it's due to the API site's SSL cert being revoked.

https://decoder.link/sslchecker/api.tengolang.com/443

[2022-02-08 03:46] d5 commented on #367
Thanks for reporting. Just fixed and re-deployed the server. Let me know if it works for you. @polarweasel

[2022-02-08 05:50] polarweasel commented on #367
Works now! Thanks for the quick fix!

[2022-02-08 16:55] #365 closed

[2022-02-11 11:03] qzb opened #368 "Convert error and immutable to builtin functions"
I'm trying to understand why `error` and `immutable` and are keywords. It's quite easy to convert them to builtins, and there are a few reasons to do so:

* Those two and `import` are the only keywords which behave like functions.
* Casting to other types utilises builtin functions, not keywords.
* `error` isn't a keyword in golang.
* `error` is a method name in some popular libraries (e.g.: by [r

[2022-02-18 14:01] moisespsena opened #369 "Help me understand VM recursion"
Hello!

I am implementing the keyword arguments, but have problem with recursion. I would like to better understand recursiveness at this point.
Thanks!

https://github.com/d5/tengo/blob/0afdfdeb2fbd39a9760e01e80d297df87b2457a6/vm.go#L602-L613

[2022-02-18 14:17] geseq commented on #369
So this is a case to check and handle tail call recursion. If we’re trying to call the same function as the one we’re in, we just check that the immediate next step is a return, in which case it’s a tail call.

If that is the case we update the stack pointer and instruction pointer to run through that function again.

[2022-02-18 18:08] moisespsena commented on #369
Thans!

[2022-02-18 18:08] #369 closed

[2022-02-18 18:14] moisespsena opened #370 "feat: function/closure with keyword arguments"
Hello!

I have a fork of this repository for implement kwargs/keyword arguments for functions and closures  [1].

I'm not very satisfied with the VM performance difference. Could anyone help me with that?

[1] https://github.com/moisespsena-go/tengo/tree/function_kwargs

Original benchmark:
[code]

Benchmark after my implementations:

[code]

[2022-02-18 18:26] geseq commented on #370
Thanks @moisespsena

Can you create a PR for reference please? I’ll try to take a look at it tomorrow.

[2022-02-18 19:13] moisespsena commented on #370
the pull requested #371

[2022-02-18 19:13] #370 closed

[2022-02-21 13:51] misiek08 commented on #336
@matszpk can you provide simplest example or an test to show this behavior? This will be close to fixing so even patch is welcome :)

[2022-02-21 16:13] misiek08 commented on #275
PoC (I don't know any bugs, down-sides - didn't test in production, event not on sandbox) here: https://github.com/d5/tengo/pull/372

[2022-03-24 05:53] michaeltlombardi opened #373 "Feature Request: Godoc-esque functionality"
As an application developer who wants to enable (relatively) complex modules, I want to be able to export documentation from tengo scripts/modules so that I don't have to separately hand-write documentation in another file.

## Desired Functionality

If possible, I would like to have godoc-like functionality for turning tengo script comments into markdown files.

From this script:

[code]

with th

[2022-04-15 17:37] NAICOLAS commented on #107
@ganehag Mind sharing your implementation of the HTTP module? :)

[2022-04-21 15:47] niemeyer commented on #319
Hello all. Arriving a bit late, but thanks for the interesting discussion here.

Was there ever a discussion about solving the case of copy?  Maybe an argument or extra return parameter that helps accounting for the changes performed?  It might actually be a nice general idea to allow extension functions to collaborate with the accounting, so it becomes a bit more realistic.

Also, is there any ot

[2022-04-29 11:43] jimenezrick opened #376 "Deadcode elimination optimizatio pass breaking (invalid jump position: 0)"
Hi, first of all thanks for such a great project! We wanted to report a recent issue we found.

When using return statements that don't return any value, we got the next error from the compiler:
[code]

This triggers usually when there are multiple exit points in the function (returns), and also there are conditional jumps (IFs or FORs loops with return statements). This is a small example that tr

[2022-05-08 10:43] geseq commented on #376
Thanks for reporting the bug. I have a fix for this in PR now

[2022-05-08 10:43] #367 closed

[2022-05-14 15:33] yayakoBlessing opened #379 "How to solve precision problem in tengo?"
Hi,  thanks for such a great project!

How to solve precision problem in tengo?
[code]

result: 7075984636689534000

[2022-05-19 07:02] chkim-dev opened #380 "why need objectptr and free opcodes in tengo?"
tengo is interpreter, and so why need pointer?
is it needs for just closure syntax?

[2022-05-19 07:05] chkim-dev commented on #379
1. make fixed precision code in golang ( use math/big package )
2. make tengo user module ( like fmt, json )
3. import in tengo code

[2022-05-19 07:20] geseq commented on #379
I think this might be due to the Go json package parsing numbers as floats. I’m not sure you can do anything other than write a custom parser for your use case

[2022-05-20 07:47] yayakoBlessing commented on #379
Thanks for replying. Does Tengo support for custom parsers? Or should I realize it in another way.

[2022-05-20 07:58] geseq commented on #379
Tengo’s json parsing is built off of Go’s but yes you can fairly easily modify it and create your own json library. This might help you get started:

https://github.com/d5/tengo/blob/f90d433d21a3d9ae2349661cc7e68a2c27e826cb/stdlib/json/decode.go#L210

[2022-05-23 03:34] yayakoBlessing commented on #379
Thanks, help me a lot!

[2022-05-23 03:34] #379 closed

[2022-06-07 05:06] geseq commented on #380
iirc yes to facilitate access to variables within closures

[2022-06-07 05:06] #380 closed

[2022-06-07 05:12] chkim-dev commented on #380
thx to reply :D I'm working on a subset that doesn't have a closure syntax due to deterministic issues.

[2022-06-10 05:45] #376 closed

[2022-06-15 04:20] #363 closed

[2022-06-22 18:29] gunnsth opened #384 "Debugging: Ability to set a breakpoint and trace?"
This is probably a feature request, but it would be nice if it was possible to do something like
[code]
(similar to pdb in python), which would give a prompt, similar to the REPL prompt in the tengo CLI command and use to print state of variables and such.

[2022-06-24 09:46] backyio opened #385 "Question : multiple export"
Hi
How i can export multiple func from single file?
Basically just one func exported.

Thanks

[2022-06-24 09:54] geseq commented on #385
https://github.com/d5/tengo/blob/master/stdlib/srcmod_enum.tengo

[2022-06-24 09:57] backyio commented on #385
Thanks.

[2022-06-24 09:57] #385 closed

[2022-07-10 00:44] beoran opened #386 "Runtime panic on self assignment"
The following Tengo script panics at run time:

a := a.foo

This likely because the compiler wrongly considers a to be defined after the := . A should only be considered defined in the next statement.

[2022-07-10 13:45] geseq commented on #386
Right, this is a problem, but I'm not sure your solution would work. It would break recursive functions.

[2022-07-10 13:49] beoran commented on #386
For a func block, an exception can be made to the rule I propose that the variable is defined inside there.

[2022-07-20 15:09] #386 closed

[2022-07-21 09:44] beoran commented on #384
There already is the  OpSuspend instruction to suspend the run of the VM, but there's yet no way to continue after suspending. Perhaps that could be added to enable debugging?

[2022-08-12 09:55] shiyuge opened #390 "Compiler Question: why invert token.Less to token.Greater"
in compiler.go: https://github.com/d5/tengo/blob/6fc805399207b1afb7c59aab21dcab07c59b5df7/compiler.go#L144-L153

It seems that `<` is translated to `>` when compiling tengo scripts. I wonder why. This makes BinaryOp() in user defined types to never execute LessEq and Less branch.

For example I have a custom defined type `Number`, and
1. `Number(14)>12` works because it would invoke `Number.Binary

[2022-08-12 11:50] shiyuge commented on #390
I have opened a pull request for that:

https://github.com/d5/tengo/pull/391

[2022-08-29 16:05] #390 closed

[2022-09-22 11:10] ipsusila commented on #336
First of all, thank you for the great works and contributions in Tengo.
I just start to experiments with Tengo and looking at this issue. I thing the following example script shows what @matszpk means.

[code]

I verified the behaviour, and propose a `patch` at [https://github.com/ipsusila/tengo/commit/14bfd45415b4c9861b1dfc5a894633dae43d3a92](https://github.com/ipsusila/tengo/commit/14bfd45415b4c

[2022-09-22 11:26] geseq commented on #336
@ipsusila can you create a PR please

[2022-10-04 11:00] NAICOLAS opened #396 "Add examples to the times library"
Please add some examples when it comes to the formatting and usage of the **times** (preferably all) library.

[2022-10-12 04:43] myndzi commented on #101
Out of curiosity: This issue is marked as "closed as completed", but I can't seem to find any reference to this functionality in the docs. Is it actually possible to limit the number of executed instructions?

[2022-10-12 07:25] geseq commented on #101
No but I think the use case had a workaround. Did you have a specific use case in mind?

[2022-11-04 04:29] myndzi commented on #101
Ugh, I need to get my notifications sorted out...

I'm looking for something I can embed in an application to run untrusted code, and would like to limit resource consumption to avoid DOS. I realize there's also a memory allocation problem potentially here, but infinite loops are one thing I'd like to avoid. I was originally looking at WebAssembly, but I was surprised to learn that there aren't te

[2022-11-04 19:38] kcsampson opened #398 "Sorting"
It would like sort a array of objects based on a supplied function. Something like sort.Slice()

sorting := import("sorting")
myList := [{x:1}, {x:2},{x:3}]
sorting.sort( myList, func( i, j ){ return myList[i].x < myList[j].x }

The problem is, you can run a CompiledFunc for your UserFunc.

My workaround was to pass the name of a field to the UserFunc...

sorting.sort( myList,  "x")